{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="columns">
  <div class="column is-quarter"></div>
  <div class="column is-half">
    <div class="box columns">
      <div class="column is-quarter"><img src="{% static 'img/logo.png' %}" style="height: 80px"/></div>
      <div class="column">
        <h3>Kirjaudu sisään</h3>
      </div>
    </div>
    <form class="box" method="post" action="{% url 'main:login' %}">
      {% csrf_token %}

      <label>Käyttäjätunnus</label>
      {{ form.username }}
      <label>Salasana</label>
      {{ form.password }}
      <input class="button is-primary" type="submit" value="Kirjaudu" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    {% if form.errors %}
      <p class="formerror">Käyttäjätunnus ja salasana ei täsmää. Yritä uudelleen.</p>
    {% endif %}
    {% if next %}
      {% if user.is_authenticated %}
        <p class="formerror">Sinulla ei ole käyttöoikeutta tähän sivuun. Ole hyvä ja kirjaudu toisella tunnuksella.</p>
      {% endif %}
    {% endif %}
  </div>
  <div class="column is-quarter"></div>
</div>

{% endblock %}
