{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="columns">
  <div class="column is-quarter"></div>
  <div class="column is-half">
    <div class="box">
      <div class="columns">
        <div class="column is-narrow"><img src="{% static 'img/logo.png' %}" style="height: 80px"/></div>
        <div class="column">
          <h1 class="title">Kirjaudu sisään</h1>
        </div>
      </div>
    </div>
    <div class="box" style="margin-top: 50px;">
      <form method="post" action="{% url 'main:login' %}">
        {% csrf_token %}
        <div class="field">
          <label class="label">Käyttäjätunnus</label>
          <div class="control">
            {{ form.username }}
          </div>
        </div>

        <div class="field">
          <label class="label">Salasana</label>
          <div class="control">
            {{ form.password }}
          </div>
        </div>

        <input class="button is-primary" type="submit" value="Kirjaudu" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
      {% if form.errors %}
        <p class="formerror">Käyttäjätunnus ja salasana ei täsmää. Yritä uudelleen.</p>
      {% endif %}
      {% if next %}
        {% if user.is_authenticated %}
          <p class="formerror">Sinulla ei ole käyttöoikeutta tähän sivuun. Ole hyvä ja kirjaudu toisella tunnuksella.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="column is-quarter"></div>
</div>

{% endblock %}
