{% block content %}
{% load i18n %}

<div class="modal" id="contact-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% translate 'Contact' %}</p>
            <button class="delete" aria-label="close" onclick="contact_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">{% translate 'Name' %}</label>
                <p id="contact-modal-name"></p>
            </div>
            <div class="field">
                <label class="label">{% translate 'E-mail' %}</label>
                <p id="contact-email"></p>
            </div>
            <div class="field">
                <label class="label">{% translate 'Telephone' %}</label>
                <p id="contact-phone"></p>
            </div>
            <div class="field">
                <label class="label">{% translate 'Title' %}</label>
                <p id="contact-title"></p>
            </div>
        </section>
    </div>
</div>

<div class="modal" id="new-contact-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% translate 'New contact' %}</p>
            <button class="delete" aria-label="close" onclick="new_contact_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">{% translate 'Name' %}</label>
                <div class="control">
                    <input class="input" type="text" id="new-contact-name">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'E-mail' %}</label>
                <div class="control">
                    <input class="input" type="text" id="new-contact-email">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Telephone' %}</label>
                <div class="control">
                    <input class="input" type="text" id="new-contact-phone">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Title' %}</label>
                <div class="control">
                    <input class="input" type="text" id="new-contact-title">
                </div>
            </div>
        </section>
        <section class="modal-card-foot">
            <button class="button is-success" onclick="new_contact_save();">{% translate 'Save' %}</button>
            <button class="button" onclick="new_contact_modal_close();">{% translate 'Cancel' %}</button>
        </section>
    </div>
</div>

<script>

function new_contact_modal_open() {
    $('#new-contact-modal').addClass('is-active');
    $("#new-contact-name").val('');
    $("#new-contact-email").val('');
    $("#new-contact-phone").val('');
    $("#new-contact-title").val('');
    $("#new-contact-name").focus();
}

function new_contact_modal_close() {
    $('#new-contact-modal').removeClass('is-active');
}

function new_contact_save() {
    var name = $('#new-contact-name').val();
    var email = $('#new-contact-email').val();
    var phone = $('#new-contact-phone').val();
    var title = $('#new-contact-title').val();
    $.ajax({
        url: '/api/contacts/',
        type: 'POST',
        data: {
            name: name,
            email: email,
            phone: phone,
            title: title,
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            new_contact_modal_close();
            search_contacts();
        }
    });
}

function contact_modal_open(id) {
    $.ajax({
        url: '/api/contacts/' + id + '/',
        type: 'GET',
        success: function(data) {
            $('#contact-modal-name').text(data.name);
            $('#contact-email').html('<a href="mailto:' + data.email + '">' + data.email + '</a>');
            $('#contact-phone').html('<a href="tel:' + data.phone + '">' + data.phone + '</a>');
            $('#contact-title').text(data.title);
            $('#contact-modal').addClass('is-active');
        }
    });
}

function contact_modal_close() {
    $('#contact-modal').removeClass('is-active');
}

</script>
{% endblock %}