{% block content %}

<div id="new-topic-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Aiheen lisäys</p>
            <button class="delete" aria-label="close" onclick="new_topic_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Otsikko</label>
                <div class="control">
                    <input class="input" type="text" id="new-topic-modal-name">
                </div>
            </div>
            <div class="field">
                <label class="label">Kuvaus</label>
                <div class="control">
                    <textarea class="textarea" id="new-topic-modal-description"></textarea>
                </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="new_topic_modal_save();">Tallenna</button>
            <button class="button" onclick="new_topic_modal_close();">Peruuta</button>
        </footer>
    </div>
</div>

<div id="topic-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="height: 94%;">
        <header class="modal-card-head">
            <p class="modal-card-title" id="topic-modal-name"></p>
            <button class="button is-small" id="topic-link-btn">Kopioi linkki</button>
            <button class="delete" aria-label="close" onclick="topic_modal_close();" style="margin-left: 15px;"></button>
        </header>
        <section class="modal-card-body p-2">
            <div class="field">
                <div class="control">
                    <p id="topic-modal-description"></p>
                </div>
            </div>
        </section>
        <section class="modal-card-body p-2" style="overflow: auto; height: 50%;">
            <div class="content" id="topic-modal-notes">
            </div>
        </section>
        <section class="modal-card-body p-2">
            <div class="field">
                <label class="label">Uusi merkintä</label>
                <div class="control">
                    <textarea class="textarea is-small topic-input" rows="2" id="topic-modal-new-note"></textarea>
                </div>
            </div>
            <div class="field" style="position: relative;">
                <label class="label">Paikkatieto</label>
                <div class="control">
                    <input class="input is-small topic-input" type="text" id="topic-modal-location" autocomplete="no">
                    <input class="topic-input" type="hidden" id="topic-modal-location-id">
                </div>
                <div id="topic-modal-location-autocomplete" class="dropdown-content" style="position: fixed; z-index: 1;">
                </div>
            </div>
            <div class="field">
                <label class="label">Linkki</label>
                <div class="control">
                    <input class="input is-small topic-input" type="text" id="topic-modal-link">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="topic_modal_save();">Lisää</button>
            <button class="button" onclick="topic_modal_close();">Sulje</button>
        </footer>
    </div>
</div>

<div class='note-item box p-2 mb-2 notification is-success is-hidden' id="note-item-template">
    <p class="m-0" style="font-size: 0.6rem;">
        <span class="note-user-name"></span> - <span class="note-datetime"></span>
        <i class="fa fa-flag is-hidden" style="cursor:pointer; float: right; margin-left: 15px;" title="Sijainti"></i>
        <a class="note-link" style="float: right;" target="_blank"></a></p>
    <p class="note-text m-0"></p>
</div>

<script>

function new_topic_modal_open() {
    $("#new-topic-modal").addClass("is-active");
    $("#new-topic-modal-name").focus();
}

function new_topic_modal_close() {
    $("#new-topic-modal").removeClass("is-active");
}

function new_topic_modal_save() {
    var name = $("#new-topic-modal-name").val();
    var description = $("#new-topic-modal-description").val();
    $.ajax({
        url: "/api/topics/",
        type: "POST",
        data: {
            name: name,
            description: description
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            new_topic_modal_close();
            $("#new-topic-modal-name").val("");
            $("#new-topic-modal-description").val("");
            get_events();
            topic_modal_open(data.id);
        }
    });
}

var opened_topic_id = null;
function topic_modal_open(topic_id) {
    $("#topic-modal").addClass("is-active");
    $.ajax({
        url: "/api/topics/" + topic_id + "/",
        type: "GET",
        success: function(data) {
            console.log(data);
            opened_topic_id = topic_id;
            $("#topic-modal-name").text(data.name);
            $("#topic-modal-description").text(data.description);
            $("#topic-link-btn").click(function() {
                navigator.clipboard.writeText(window.location.origin + "?events=" + topic_id);
            });
            $("#topic-modal-notes").html("");
            data.notes.forEach(function(note) {
                var note_item = $("#note-item-template").clone();
                note_item.removeClass("is-hidden");
                note_item.find(".note-user-name").text(note.user.first_name + " " + note.user.last_name);
                var note_date = new Date(note.created_at);
                note_item.find(".note-datetime").text(note_date.toLocaleString());
                note_item.find(".note-text").text(note.message);
                if(note.site) {
                    note_item.find(".fa-flag").removeClass("is-hidden");
                    note_item.find(".fa-flag").click(function() {
                        topic_open_site(note.site);
                    });
                } else {
                    note_item.find(".fa-flag").addClass("is-hidden");
                }
                if(note.link) {
                    note_item.find(".note-link").attr("href", note.link);
                    note_item.find(".note-link").text("Linkki");
                    note_item.find(".note-link").removeClass("is-hidden");
                } else {
                    note_item.find(".note-link").addClass("is-hidden");
                }
                $("#topic-modal-notes").append(note_item);
            });
            $("#topic-modal-new-note").val("");
            $("#topic-modal-new-note").focus();
        }
    });
}

function topic_modal_close() {
    $(".topic-input").val("");
    $("#topic-modal").removeClass("is-active");
    if(location_query["events"]) {
        location.href = window.location.origin;
    }
}

function topic_modal_save() {
    var message = $("#topic-modal-new-note").val();
    var site = $("#topic-modal-location-id").val();
    var link = $("#topic-modal-link").val();
    console.log(site);
    $.ajax({
        url: "/api/notes/",
        type: "POST",
        data: {
            message: message,
            topic: opened_topic_id,
            site: site,
            link: link,
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            topic_modal_close();
            topic_modal_open(opened_topic_id);
        }
    });
}

$("#topic-modal-location").keyup(function(e) {
    var query = $("#topic-modal-location").val();
    if(query.length >= 2) {
        $.ajax({
            url: "/api/sites/?name=" + query,
            type: "GET",
            success: function(data) {
                $("#topic-modal-location-autocomplete").html("");
                data.forEach(function(site) {
                    var site_item = "<div class='dropdown-item' style='cursor:pointer;' onclick='note_select_site(" + site.id + ", \"" + site.name + "\");'>" + site.name + "</div>";
                    $("#topic-modal-location-autocomplete").append(site_item);
                });
            }
        });
    } else {
        $("#topic-modal-location-autocomplete").html("");
    }
});

function note_select_site(site_id, site_name) {
    $("#topic-modal-location").val(site_name);
    $("#topic-modal-location-autocomplete").html("");
    $("#topic-modal-location-id").val(site_id);
}

</script>
{% endblock %}