{% block content %}
{% load static %}
{% load i18n %}
<div class="modal" id="map-style-modal" style="z-index: 41;">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% translate 'Layer style' %}</p>
            <button class="delete" aria-label="close" onclick="map_style_close();"></button>
        </header>
        <section class="modal-card-body">
            <div>
                <div class="content p-3">
                    <label class="label">{% translate 'Preview' %}</label>
                    <div class="field">
                        <div class="control">
                            <div id="map-style-preview" style="height: 300px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div class="content p-3">
                        <label class="label">{% translate 'Name' %}</label>
                        <div class="field">
                            <div class="control">
                                <input type="text" id="map-style-name" class="input style-edit" placeholder="{% translate 'Name' %}">
                            </div>
                        </div>
                        <label class="label">{% translate 'Stroke' %}</label>
                        <div class="field">
                            <div class="control">
                                <input class="input style-edit" id="style-stroke-color" data-jscolor="{}">
                            </div>
                            <div class="control">
                                <input class="input style-edit" id="style-stroke-width" type="number" min="1" max="5">
                            </div>
                        </div>
                        <label class="label">{% translate 'Fill' %}</label>
                        <div class="field">
                            <div class="control">
                                <input class="input style-edit" id="style-fill-color" data-jscolor="{}">
                            </div>
                        </div>
                        <label class="label">{% translate 'Opacity' %}</label>
                        <div class="field">
                            <div class="control">
                                <input class="input style-edit" id="style-opacity" type="number" min="0" max="1" step="0.1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="content p-3">
                        <label class="label">{% translate 'Minimum zoom' %}</label>
                        <div class="field">
                            <div class="control">
                                <input class="input style-edit" id="style-min-zoom" type="number" min="5" max="18">
                            </div>
                        </div>
                        <label class="label">{% translate 'Maximum zoom' %}</label>
                        <div class="field">
                            <div class="control">
                                <input class="input style-edit" id="style-max-zoom" type="number" min="5" max="18">
                            </div>
                        </div>
                        <label class="label">{% translate 'Font size' %}</label>
                        <div class="field">
                            <div class="control">
                                <input class="input style-edit" id="style-font" type="number" min="5" max="36">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="map_style_save();">{% translate 'Save' %}</button>
            <button class="button" onclick="map_style_close();">{% translate 'Cancel' %}</button>
        </footer>
    </div>
</div>
<script>

var preview = null;
var preview_layer = null;
var opened_style = null;

function map_style_close() {
    $('#map-style-modal').removeClass('is-active');
}

function map_edit_style(id) {
    for (var i = 0; i < map_styles.length; i++) {
        if (map_styles[i].id == id) {
            opened_style = map_styles[i];
            break;
        }
    }
    $('#map-style-modal').addClass('is-active');
    $('#map-style-name').val(opened_style.name);
    $("#style-preview-text").text(opened_style.name);
    $("#style-preview-text").css("font-size", opened_style.font + "px");
    $("#style-preview-text").css("color", opened_style.stroke);
    document.querySelector('#style-stroke-color').jscolor.fromString(opened_style.stroke);
    $('#style-stroke-width').val(opened_style.stroke_width);
    document.querySelector('#style-fill-color').jscolor.fromString(opened_style.fill);
    $('#style-opacity').val(opened_style.opacity);
    $('#style-min-zoom').val(opened_style.min_zoom);
    $('#style-max-zoom').val(opened_style.max_zoom);
    $('#style-font').val(opened_style.font_size);
    var style = {
        color: opened_style.stroke,
        fillColor: opened_style.fill,
        opacity: opened_style.opacity + 0.2,
        fillOpacity: opened_style.opacity,
        'stroke-width': opened_style.stroke_width,
    }
    preview_layer.setStyle(style);
    preview.invalidateSize();
}

function map_style_add() {
    opened_style = null;
    $('#map-style-modal').addClass('is-active');
    $('#map-style-name').val('');
    $("#style-preview-text").text('');
    $("#style-preview-text").css("font-size", 12 + "px");
    $("#style-preview-text").css("color", '#000000');
    document.querySelector('#style-stroke-color').jscolor.fromString('#000000');
    $('#style-stroke-width').val(1);
    document.querySelector('#style-fill-color').jscolor.fromString('#000000');
    $('#style-opacity').val(0.7);
    $('#style-min-zoom').val(5);
    $('#style-max-zoom').val(18);
    $('#style-font').val(12);
    var style = {
        color: '#000000',
        fillColor: '#000000',
        opacity: 0.9,
        fillOpacity: 0.7,
        'stroke-width': 1,
    }
    preview_layer.setStyle(style);
    preview.invalidateSize();
}

$(".style-edit").on("change", function() {
    var style = {
        color: $("#style-stroke-color").val(),
        fillColor: $("#style-fill-color").val(),
        opacity: $("#style-opacity").val() + 0.2,
        fillOpacity: $("#style-opacity").val(),
        'stroke-width': $("#style-stroke-width").val(),
    }
    preview_layer.setStyle(style);
    $("#style-preview-text").text($("#map-style-name").val());
    $("#style-preview-text").css("font-size", $("#style-font").val() + "px");
    $("#style-preview-text").css("color", $("#style-stroke-color").val());
    preview_layer.redraw();
});

$(document).ready(function() {
    preview = L.map('map-style-preview', {
        zoomControl: false,
        center: [61.932, 23.4460],
        zoom: 15,
        dragging: false,
        touchZoom: false,
        scrollWheelZoom: false,
        doubleClickZoom: false,
    });

    var preview_background = L.tileLayer(map_servers[settings.map.server].url, {
        attribution: map_servers[settings.map.server].attribution,
    });

    $.get("{% static 'js/preview.geojson' %}").done(function(data) {
        preview_background.addTo(preview);
        data.coordinates = data.coordinates.map(function(c) {
            return [c[1], c[0]];
        });
        preview_layer = L.polygon(data.coordinates, {
            color: '#000000',
            weight: 1,
            fillColor: '#000000',
            fillOpacity: 0.1,
        }).addTo(preview);
        preview_layer.bindTooltip("<div id='style-preview-text'>{% translate 'Location name' %}</div>", {
            permanent: true,
            direction: "center"
        }).addTo(preview);
    });
});

function map_style_save() {
    var style = {
        name: $("#map-style-name").val(),
        stroke: $("#style-stroke-color").val(),
        fill: $("#style-fill-color").val(),
        opacity: $("#style-opacity").val(),
        stroke_width: $("#style-stroke-width").val(),
        min_zoom: $("#style-min-zoom").val(),
        max_zoom: $("#style-max-zoom").val(),
        font_size: $("#style-font").val(),
    }
    if(opened_style) {
        style.id = opened_style.id;
        $.ajax({
            url: "/api/mapstyles/" + opened_style.id + "/",
            type: "PATCH",
            data: style,
            headers: {
                "X-CSRFToken": csrf_token,
            },
            success: function(data) {
                for (var i = 0; i < map_styles.length; i++) {
                    if (map_styles[i].id == data.id) {
                        map_styles[i] = data;
                        break;
                    }
                }
                settings_map_layers_init();
                map_style_close();
            }
        });
    } else {
        $.ajax({
            url: "/api/mapstyles/",
            type: "POST",
            data: style,
            headers: {
                "X-CSRFToken": csrf_token,
            },
            success: function(data) {
                map_styles.push(data);
                settings_map_layers_init();
                map_style_close();
            }
        });
    }
}

</script>
{% endblock %}