{% block content %}
{% load static %}
{% load i18n %}

<div class="modal" id="map-server-modal" style="z-index: 41;">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% translate 'Map server' %}</p>
            <button class="delete" aria-label="close" onclick="map_server_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="content p-3">
                <label class="label">{% translate 'Name' %}</label>
                <div class="field">
                    <div class="control">
                        <input type="text" id="map-server-name" class="input server-edit" placeholder="{% translate 'Name' %}">
                    </div>
                </div>
                <label class="label">{% translate 'URL' %}</label>
                <div class="field">
                    <div class="control">
                        <input type="text" id="map-server-url" class="input server-edit" placeholder="{% translate 'URL' %}">
                    </div>
                </div>
                <label class="label">{% translate 'Attribution' %}</label>
                <div class="field">
                    <div class="control">
                        <input type="text" id="map-server-attribution" class="input server-edit" placeholder="{% translate 'Attribution' %}">
                    </div>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="map_server_save();">{% translate 'Save' %}</button>
            <button class="button" onclick="map_server_close();">{% translate 'Cancel' %}</button>
        </footer>
    </div>
</div>

<script>

var opened_server = null;
function map_server_open(id) {
    $(".server-edit").val("");
    opened_server = null;
    if(id) {
        for(var i=0; i<map_servers.length; i++) {
            if(map_servers[i].id == id) {
                $('#map-server-name').val(map_servers[i].name);
                $('#map-server-url').val(map_servers[i].url);
                $('#map-server-attribution').val(map_servers[i].attribution);
                opened_server = map_servers[i];
                break;
            }
        }
    }
    $('#map-server-modal').addClass('is-active');
}

function map_server_close() {
    $('#map-server-modal').removeClass('is-active');
}

function map_server_save() {
    var name = $('#map-server-name').val();
    var url = $('#map-server-url').val();
    var attribution = $('#map-server-attribution').val();
    if(name && url && attribution) {
        var data = {
            'name': name,
            'url': url,
            'attribution': attribution,
        };
        if(opened_server) {
            $.ajax({
                type: 'PATCH',
                url: '/api/mapservers/' + opened_server.id + '/',
                data: data,
                headers: {
                    'X-CSRFToken': csrf_token
                },
                success: function(data) {
                    for(var i=0; i<map_servers.length; i++) {
                        if(map_servers[i].id == data.id) {
                            map_servers[i].name = name;
                            map_servers[i].url = url;
                            map_servers[i].attribution = attribution;
                            break;
                        }
                    }
                    map_server_close();
                    settings_map_layers_init();
                }
            });
        } else {
            $.ajax({
                type: 'POST',
                url: '/api/mapservers/',
                data: data,
                headers: {
                    'X-CSRFToken': csrf_token
                },
                success: function(data) {
                    map_servers.push(data);
                    map_server_close();
                    settings_map_layers_init();
                }
            });
        }
        map_server_close();
    } else {
        messages_alert('{% translate 'Please fill all fields' %}');
    }
}

function map_server_delete(id) {
    messages_confirm("{% translate 'Map server deletion' %}", "{% translate 'Are you sure you want to delete this map server?' %}", function() {
        $.ajax({
            url: "/api/mapservers/" + id + "/",
            type: "DELETE",
            headers: {
                "X-CSRFToken": csrf_token
            },
            success: function(data) {
                for(var i=0;i<map_servers.length;i++) {
                    if(map_servers[i].id == id) {
                        map_servers.splice(i, 1);
                        break;
                    }
                }
                settings_map_layers_init();
            }
        });
    });
}

</script>
{% endblock %}