{% block content %}
<div class="modal" id="site-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="site-modal-title"></p>
            <button class="button is-small" id="site-link-btn">Kopioi linkki</button>
            <button class="delete" aria-label="close" onclick="site_modal_close();" style="margin-left: 15px;"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Tyyppi</label>
                <p id="site-modal-type" class="control"></p>
            </div>
            <div class="field" style="position: relative;">
                <label class="label">Yhteyshenkilöt</label>
                <button class="button is-small" style="float: right; bottom: 35px;" title="Lisää..." onclick="site_modal_contact_add();"><i class="fa fa-plus"></i></button>
                <table id="site-contact-table" class="table" style="width: 100%;">
                </table>
                <div id="site-new-contact" class="is-hidden">
                    <input class="input" id="site-contact-input" type="text" placeholder="Yhteyshenkilö..." autocomplete="no">
                    <div id="site-contact-autocomplete" class="dropdown-content" style="position: fixed; z-index: 1;">
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Liittyvät viestit</label>
                <table id="site-notes-table" class="table" style="width: 100%;"></table>
            </div>
        </section>
    </div>
</div>

<div class="modal" id="site-new-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Lisää uusi paikka</p>
            <button class="delete" aria-label="close" onclick="site_new_modal_close();" style="margin-left: 15px;"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Nimi</label>
                <div class="control">
                    <input class="input site-new-input" id="site-new-name" type="text" placeholder="Nimi...">
                </div>
            </div>
            <div class="field">
                <label class="label">Tyyppi</label>
                <div class="control">
                    <div class="select site-new-input" style="width: 100%;">
                        <select id="site-new-category" style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Alue</label>
                <div class="control">
                    <input class="input site-new-input" id="site-new-area" type="text">
                    <input class="site-new-input" type="hidden" id="site-new-area-id">
                </div>
            </div>
            <div class="field">
                <label class="label">Merkki</label>
                <div class="control">
                    <input class="input site-new-input" id="site-new-marker" type="text">
                    <input class="site-new-input" type="hidden" id="site-new-marker-id">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" onclick="site_new_modal_save();">Tallenna</button>
            <button class="button" onclick="site_new_modal_close();">Peruuta</button>
        </footer>
    </div>
</div>

<script>

var opened_site = null;
function open_site_modal(area_id, marker_id) {
    $.ajax({
        url: '/api/sites/?area=' + area_id + '&marker=' + marker_id,
        type: 'GET',
        success: function(data) {
            if(data.length == 0) {
                save_to_site(area_id, marker_id);
            } else {
                opened_site = data[0];
                load_site_modal();
            }
        }
    });
}

function load_site_modal() {
    $('#site-modal-title').text(opened_site.name);
    $('#site-modal-type').text(opened_site.category.name);
    $('#site-contact-table').html('');
    opened_site.contacts.forEach(function(contact) {
        var row = $('<tr>');
        row.append($('<td>').text(contact.name));
        row.append($('<td>').html('<a href="mailto:' + contact.email + '">' + contact.email + '</a>'));
        row.append($('<td>').html('<a href="tel:' + contact.phone + '">' + contact.phone + '</a>'));
        $('#site-contact-table').append(row);
    });
    $("#site-link-btn").click(function() {
        navigator.clipboard.writeText(window.location.origin + "?site=" + opened_site.id);
    });
    $('#site-notes-table').html('');
    $('#site-modal').addClass('is-active');
    $.ajax({
        url: '/api/notes/?site=' + opened_site.id,
        type: 'GET',
        success: function(data) {
            data.forEach(function(note) {
                var row = $('<tr>');
                var note_date = new Date(note.created_at);
                row.append($('<td>').html('<small>' + note_date.toLocaleString() + '</small>'));
                row.append($('<td>').text(note.message));
                $('#site-notes-table').append(row);
            });
        }
    });
}

function site_modal_close() {
    $('#site-modal').removeClass('is-active');
    if(location_query["site"]) {
        location.href = window.location.origin;
    }
}

function site_modal_contact_add() {
    $('#site-new-contact').removeClass('is-hidden');
    $('#site-contact-input').focus();
}

$("#site-contact-input").keyup(function(e) {
    var query = $("#site-contact-input").val();
    if(query.length >= 2) {
        $.ajax({
            url: "/api/contacts/?term=" + query,
            type: "GET",
            success: function(data) {
                $("#site-contact-autocomplete").html("");
                data.forEach(function(contact) {
                    var contact_item = "<div class='dropdown-item' style='cursor:pointer;' onclick='site_select_contact(" + contact.id + ");'>" + contact.name + "</div>";
                    $("#site-contact-autocomplete").append(contact_item);
                });
            }
        });
    } else {
        $("#site-contact-autocomplete").html("");
    }
});

function site_select_contact(contact_id) {
    $.ajax({
        url: "/api/sites/" + opened_site.id + "/",
        type: "PATCH",
        data: {
            contact: contact_id,
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            opened_site = data;
            load_site_modal();
        }
    });
    $("#site-contact-input").val("");
    $('#site-new-contact').addClass('is-hidden');
    $("#site-contact-autocomplete").html("");
}

$(document).ready(function() {
    $.ajax({
        url: '/api/sitecategories/',
        type: 'GET',
        success: function(data) {
            data.forEach(function(category) {
                var option = $('<option>');
                option.text(category.name);
                option.val(category.id);
                $('#site-new-category').append(option);
            });
        }
    });
});

function save_to_site(area_id, marker_id) {
    map_layers.forEach(function(layer) {
        layer.areas.forEach(function(area) {
            if(area.id == area_id) {
                open_new_site_modal(area, null);
            }
        });
        layer.markers.forEach(function(marker) {
            if(marker.id == marker_id) {
                open_new_site_modal(null, marker);
            }
        });
    });
}

function open_new_site_modal(area, marker) {
    $('.site-new-input').val('');
    if(area) {
        $('#site-new-area').val(area.name);
        $('#site-new-area-id').val(area.id);
        $('#site-new-name').val(area.name);
    } else {
        $('#site-new-marker').val(marker.name);
        $('#site-new-marker-id').val(marker.id);
        $('#site-new-name').val(marker.name);
    }
    $('#site-new-modal').addClass('is-active');
}

function new_site_modal_close() {
    $('#site-new-modal').removeClass('is-active');
}

function site_new_modal_save() {
    var name = $('#site-new-name').val();
    var category = $('#site-new-category').val();
    var area_id = $('#site-new-area-id').val();
    var marker_id = $('#site-new-marker-id').val();
    var contact = $('#site-new-contact').val();
    var notes = $('#site-new-notes').val();
    $.ajax({
        url: '/api/sites/',
        type: 'POST',
        data: {
            name: name,
            category: category,
            area: area_id,
            marker: marker_id,
            contact: contact,
            notes: notes,
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            new_site_modal_close();
        }
    });
}

</script>
{% endblock %}