{% block content %}
<div class="modal" id="site-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="site-modal-title"></p>
            <button class="delete" aria-label="close" onclick="site_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Tyyppi</label>
                <p id="site-modal-type" class="control"></p>
            </div>
            <div class="field">
                <label class="label">Yhteyshenkilöt</label>
                <table id="site-contact-table" class="table">
                </table>
            </div>
            <div class="field">
                <label class="label">Liittyvät viestit</label>
                <table id="site-notes-table" class="control"></table>
            </div>
        </section>
    </div>
</div>

<script>

function open_site_modal(area_id, marker_id) {
    $.ajax({
        url: 'api/sites/?area=' + area_id + '&marker=' + marker_id,
        type: 'GET',
        success: function(data) {
            console.log(data);
            $('#site-modal-title').text(data[0].name);
            $('#site-modal-type').text(data[0].category.name);
            $('#site-contact-table').html('');
            data[0].contacts.forEach(function(contact) {
                var row = $('<tr>');
                row.append($('<td>').text(contact.name));
                row.append($('<td>').html('<a href="mailto:' + contact.email + '">' + contact.email + '</a>'));
                row.append($('<td>').html('<a href="tel:' + contact.phone + '">' + contact.phone + '</a>'));
                $('#site-contact-table').append(row);
            });
            $('#site-notes-table').html('');
            $('#site-modal').addClass('is-active');
            $.ajax({
                url: 'api/notes/?site=' + data[0].id,
                type: 'GET',
                success: function(data) {
                    console.log(data);
                    data.forEach(function(note) {
                        var row = $('<tr>');
                        var note_date = new Date(note.created_at);
                        row.append($('<td>').html('<small>' + note_date.toLocaleString() + '</small>'));
                        row.append($('<td>').text(note.message));
                        $('#site-notes-table').append(row);
                    });
                }
            });
        }
    });
}

function site_modal_close() {
    $('#site-modal').removeClass('is-active');
}

</script>
{% endblock %}