{% block content %}
{% load i18n %}
<div class="modal" id="user-edit-own-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% translate 'Edit user' %}</p>
            <button class="delete" aria-label="close" onclick="user_edit_own_modal_close();"></button>
        </header>
        <form>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">{% translate 'First name' %}</label>
                <div class="control">
                    <input class="input" type="text" id="user-edit-own-modal-firstname" value="{{ user.first_name }}">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Last name' %}</label>
                <div class="control">
                    <input class="input" type="text" id="user-edit-own-modal-lastname" value="{{ user.last_name }}">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'E-mail' %}</label>
                <div class="control">
                    <input class="input" type="text" id="user-edit-own-modal-email" value="{{ user.email }}">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Password' %}</label>
                <div class="control">
                    <input class="input" type="password" id="user-edit-own-modal-password" autocomplete="new-password">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Confirm password' %}</label>
                <div class="control">
                    <input class="input" type="password" id="user-edit-own-modal-password-confirm" autocomplete="new-password">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="user_edit_own_modal_save();">{% translate 'Save' %}</button>
            <button class="button" onclick="user_edit_own_modal_close();">{% translate 'Cancel' %}</button>
        </footer>
        </form>
    </div>
</div>

{% if user.is_superuser %}

<div class="modal" id="user-edit-modal" style="z-index: 41;">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% translate 'Edit user' %}</p>
            <button class="delete" aria-label="close" onclick="user_edit_modal_close();"></button>
        </header>
        <form>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">{% translate 'Username' %}</label>
                <div class="control">
                    <input class="input user-edit-modal-input" type="text" id="user-edit-modal-username" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'First name' %}</label>
                <div class="control">
                    <input class="input user-edit-modal-input" type="text" id="user-edit-modal-firstname" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Last name' %}</label>
                <div class="control">
                    <input class="input user-edit-modal-input" type="text" id="user-edit-modal-lastname" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'E-mail' %}</label>
                <div class="control">
                    <input class="input user-edit-modal-input" type="text" id="user-edit-modal-email" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Password' %}</label>
                <div class="control">
                    <input class="input user-edit-modal-input" type="password" id="user-edit-modal-password" autocomplete="new-password">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Confirm password' %}</label>
                <div class="control">
                    <input class="input user-edit-modal-input" type="password" id="user-edit-modal-password-confirm" autocomplete="new-password">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Admin' %}</label>
                <div class="control">
                    <label class="checkbox"><input id="user-edit-modal-admin" type="checkbox"> {% translate 'Is admin' %}</label>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="user_edit_modal_save();">{% translate 'Save' %}</button>
            <button class="button" onclick="user_edit_modal_close();">{% translate 'Cancel' %}</button>
        </footer>
        </form>
    </div>
</div>

<div class="modal" id="user-new-modal" style="z-index: 41;">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% translate 'New user' %}</p>
            <button class="delete" aria-label="close" onclick="user_new_modal_close();"></button>
        </header>
        <form>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">{% translate 'Username' %}</label>
                <div class="control">
                    <input class="input user-modal-input" type="text" id="user-new-modal-username" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'First name' %}</label>
                <div class="control">
                    <input class="input user-modal-input" type="text" id="user-new-modal-firstname" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Last name' %}</label>
                <div class="control">
                    <input class="input user-modal-input" type="text" id="user-new-modal-lastname" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'E-mail' %}</label>
                <div class="control">
                    <input class="input user-modal-input" type="text" id="user-new-modal-email" value="">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Password' %}</label>
                <div class="control">
                    <input class="input user-modal-input" type="password" id="user-new-modal-password" autocomplete="new-password">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Confirm password' %}</label>
                <div class="control">
                    <input class="input user-modal-input" type="password" id="user-new-modal-password-confirm" autocomplete="new-password">
                </div>
            </div>
            <div class="field">
                <label class="label">{% translate 'Admin' %}</label>
                <div class="control">
                    <label class="checkbox"><input id="user-new-modal-admin" type="checkbox"> {% translate 'Is admin' %}</label>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="user_new_modal_save();">{% translate 'Save' %}</button>
            <button class="button" onclick="user_new_modal_close();">{% translate 'Cancel' %}</button>
        </footer>
        </form>
    </div>
</div>
{% endif %}

<script>

function user_edit_own_modal_open() {
    $('#user-edit-own-modal').addClass('is-active');
}

function user_edit_own_modal_close() {
    $('#user-edit-own-modal').removeClass('is-active');
}

function user_edit_own_modal_save() {
    var firstname = $('#user-edit-modal-firstname').val();
    var lastname = $('#user-edit-modal-lastname').val();
    var email = $('#user-edit-modal-email').val();
    var password = $('#user-edit-modal-password').val();
    var password_confirm = $('#user-edit-modal-password-confirm').val();
    if(password != password_confirm) {
        messages_alert("{% translate "Passwords don't match!" %}");
        return;
    }
    $.ajax({
        url: '/api/users/' + {{ user.id }} + '/',
        type: 'PATCH',
        data: {
            first_name: firstname,
            last_name: lastname,
            email: email,
            password: password,
            password2: password_confirm
        },
        headers: {
            'X-CSRFToken': csrf_token,
        },
        success: function(data) {
            user_edit_modal_close();
        }
    });
}

{% if user.is_superuser %}
var selected_user = null;

function user_add() {
    selected_user = null;
    $(".user-modal-input").val("");
    $('#user-new-modal').addClass('is-active');
}

function user_new_modal_close() {
    $('#user-new-modal').removeClass('is-active');
}

function user_edit(id) {
    $.ajax({
        url: '/api/adm_users/' + id + '/',
        type: 'GET',
        success: function(data) {
            selected_user = data;
            $('#user-edit-modal-username').val(data.username);
            $('#user-edit-modal-firstname').val(data.first_name);
            $('#user-edit-modal-lastname').val(data.last_name);
            $('#user-edit-modal-email').val(data.email);
            $('#user-edit-modal-password').val('');
            $('#user-edit-modal-password-confirm').val('');
            $('#user-edit-modal-admin').prop('checked', data.is_superuser);
            $('#user-edit-modal').addClass('is-active');
        }
    });
}

function user_new_modal_save() {
    var username = $('#user-new-modal-username').val();
    var firstname = $('#user-new-modal-firstname').val();
    var lastname = $('#user-new-modal-lastname').val();
    var email = $('#user-new-modal-email').val();
    var password = $('#user-new-modal-password').val();
    var password_confirm = $('#user-new-modal-password-confirm').val();
    if(password != password_confirm) {
        messages_alert("{% translate "Passwords don't match!" %}");
        return;
    }
    $.ajax({
        url: '/api/adm_users/',
        type: 'POST',
        data: {
            username: username,
            first_name: firstname,
            last_name: lastname,
            email: email,
            password: password,
            password2: password_confirm,
            is_superuser: $('#user-new-modal-admin').prop('checked') ? 1 : 0
        },
        headers: {
            'X-CSRFToken': csrf_token,
        },
        success: function(data) {
            user_new_modal_close();
            users_init();
        }
    });
}

function user_edit_modal_close() {
    $('#user-edit-modal').removeClass('is-active');
}

function user_edit_modal_save() {
    var username = $('#user-edit-modal-username').val();
    var firstname = $('#user-edit-modal-firstname').val();
    var lastname = $('#user-edit-modal-lastname').val();
    var email = $('#user-edit-modal-email').val();
    var password = $('#user-edit-modal-password').val();
    var password_confirm = $('#user-edit-modal-password-confirm').val();
    if(password != password_confirm) {
        messages_alert("{% translate "Passwords don't match!" %}");
        return;
    }
    $.ajax({
        url: '/api/adm_users/' + selected_user.id + '/',
        type: 'PATCH',
        data: {
            username: username,
            first_name: firstname,
            last_name: lastname,
            email: email,
            password: password,
            password2: password_confirm,
            is_superuser: $('#user-edit-modal-admin').prop('checked') ? 1 : 0
        },
        headers: {
            'X-CSRFToken': csrf_token,
        },
        success: function(data) {
            user_edit_modal_close();
            users_init();
        }
    });
}
{% endif %}

</script>
{% endblock %}