<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
<head>
    {% block title %}<title>Tilkku</title>{% endblock %}
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
       integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
       crossorigin=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<section class="section">
<div style="background-image: url({% static 'img/background.jpg' %})" class="img"></div>

{% if user.is_authenticated %}
{% include 'sidebar.html' %}
{% endif %}
{% block content %}{% endblock %}
{% if user.is_authenticated %}

{% else %}

{% endif %}
<div id="messages">{% include 'messages.html' %}</div>
</section>
</body>
</html>