{% block content %}
<div class="box" style="width: 100%; height: 100%">
    <span class="is-subtitle">Keskustelu</span>
    <div class="content" style="height: calc(100% - 85px); overflow-y: clip;">
        <div class="notification is-success is-light">
            <strong>Mikki hiiri</strong><br/>
            Haloo Saatana!
        </div>
        <div class="notification is-success is-light">
            <strong>Mikki hiiri</strong><br/>
            Ootko sä siellä?
        </div>
        <div class="notification is-info">
            <strong>Sinä</strong><br/>
            No olen olen. Mitä nyt?
        </div>
    </div>
    <input class="input" type="text" />
</div>
{% endblock %}