{% block content %}
<style>
.chat-window {
    height: calc(100% - 50px);
    overflow-y: auto;
    margin-bottom: 5px;
    position: relative;
}
.chat {
    list-style: none;
    background: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 !important;
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self > .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    background-color: #3e8ed0;
    color: #fff;
}
.other > .msg {
    order: 1;
    border-top-left-radius: 0px;
    background-color: #eff5fb;
    color: #296fa8;
}
.other .name {
    font-size: 0.6rem;
    display: flex;
    color: #ccc;
}
.msg {
    min-width: 50px;
    padding: 0.5rem !important;
    font-size: .75rem !important;
    box-shadow: 3px 3px 5px #ccc;
    border-radius: 10px;
}
.msg p {
    margin-bottom: 3px;
}
.msg time {
    font-size: 0.5rem;
    color: #ccc;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.self time {
    float: right;
}
.other time {
    float: left;
}

</style>
<div class="chat-window">
    <ol class="chat">
        <li class="other">
            <div class="msg">
                <span class="name">Pena</span>
                <p>Moro!</p>
                <time>10:00</time>
            </div>
        </li>
        <li class="self">
            <div class="msg">
                <p>No moi!</p>
                <time>10:01</time>
            </div>
        </li>
    </ol>
</div>
<input id="chat-input" class="input" type="text" />

<script>
var user = {{ json.dumps(user) }};
console.log(user);

const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/chat/opke/'
);

chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    console.log(data);
}

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

$('#chat-input').keyup(function(e) {
    if (e.keyCode === 13) {  // enter, return
        chat_send();
    }
});

function chat_send() {
    const message = $('#chat-input').val();
    chatSocket.send(JSON.stringify({
        'message': message
    }));
    $('#chat-input').val('');
};
</script>
{% endblock %}