{% block content %}
{% load i18n %}
<div class="content" style="height: calc(100% - 10px); overflow-y: clip;">
    <div class="field has-addons">
        <div class="control">
            <button class="button is-small is-info"><i class="fa fa-plus" title="{% translate 'Add' %}..." onclick="new_contact_modal_open();"></i></button>
        </div>
        <div class="control is-expanded">
            <input id="contacts-search" class="input is-small" type="text" placeholder="{% translate 'Search' %}..." autocomplete="no">
        </div>
    </div>
    <div id="contacts-box" style="overflow: auto; height: calc(100% - 10px);">
        <table id="contacts-table" class="table is-striped">
        </table>
    </div>
</div>

<script>

function search_contacts() {
    var search = $('#contacts-search').val();
    $.ajax({
        url: '/api/contacts/?term=' + search,
        type: 'GET',
        success: function(data) {
            var table = $('#contacts-table');
            table.html('');
            for (var i = 0; i < data.length; i++) {
                var events = ' onclick="contact_modal_open(' + data[i].id + ');"';
                var row = $('<tr style="cursor: pointer;"' + events + '>');
                row.append($('<td>').text(data[i].title + " " + data[i].name));
                table.append(row);
            }
        }
    });
}
search_contacts();

$("#contacts-search").on('keyup', function() {
    search_contacts();
});

</script>
{% endblock %}