{% block content %}
{% load static %}
<style>
.event-item {
    cursor: pointer;
}
.input-item {
    cursor: pointer;
    font-weight: 400;
}
</style>
<div class="content" style="height: calc(100% - 20px); overflow-y: clip;">
    <div id="events-topic-box" style="height: calc(100% - 32px); overflow: auto;">
    </div>
</div>
<div id="topic-template" class="topic-item box p-2 mb-2 notification is-info">
    <div class="columns">
        <div class="column is-1 is-size-7">
            <i class="fa fa-info-circle" style="cursor:pointer" title="Lisätiedot"></i>
            <i class="fa fa-flag" style="cursor:pointer" title="Sijainti"></i>
            <i class="fa fa-check" style="cursor:pointer" title="Kuittaa"></i>
        </div>
        <div class="column">
            <h1 class="topic-title title is-5"></h1>
            <h2 class="topic-description subtitle is-7"></h2>
        </div>
        <div class="column is-1 is-size-7 m-1" style="text-align: center;">
            <i class="fa fa-clipboard-list" title="Merkintöjä"></i>
            <p class="topic-notes-count"></p>
        </div>
    </div>
</div>

<script>
$(function() {
    $("#events-input-box").sortable({
        connectWith: ".event-item",
    }).disableSelection();
    $("#events-event-box").sortable({
        connectWith: "#map",
    }).disableSelection();

    $(".event-item").droppable({
        accept: ".input-item",
        drop: function(event, ui) {
            console.log(event);
            console.log(ui);/*
            var item = ui.draggable;
            var event_id = $(this).attr("id");
            var input_id = item.attr("id");
            $.ajax({
                url: "/tilkku/events/add_input",
                type: "POST",
                data: {
                    event_id: event_id,
                    input_id: input_id,
                },
                success: function(data) {
                    if (data.success) {
                        item.remove();
                    }
                }
            });*/
        }
    });
});

function get_events() {
    $.ajax({
        url: "api/topics/?status=OP",
        type: "GET",
        success: function(data) {
            if (data.success) {
                $("#events-topic-box").html("");
                console.log(data);
                var topic_template = $("#topic-template").clone();

                $("#events-event-box").html(topic_template);
            }
        }
    });
}
</script>
{% endblock %}