{% block content %}
{% load static %}
<style>
.event-item {
    cursor: pointer;
}
.input-item {
    cursor: pointer;
    font-weight: 400;
}
</style>
<div class="content" style="height: calc(100% - 20px); overflow-y: clip;">
    <div id="events-event-box">
        <div class="event-item box p-2 mb-2 notification is-info">
            <div class="columns">
                <div class="column is-1 is-size-7">
                    <i class="fa fa-info-circle" style="cursor:pointer" title="Lisätiedot"></i>
                    <i class="fa fa-flag" style="cursor:pointer" title="Sijainti"></i>
                    <i class="fa fa-check" style="cursor:pointer" title="Kuittaa"></i>
                </div>
                <div class="column">
                    <h1 class="title is-5">Puurokattilakeissi</h1>
                    <h2 class="subtitle is-7">Keittiöllä kaatunut puurokattila keittäjän syliin</h2>
                </div>
                <div class="column is-1 is-size-7 m-1" style="text-align: center;">
                    <i class="fa fa-clipboard-list" title="Merkintöjä"></i>
                    <p>3</p>
                </div>
            </div>
        </div>
        <div class="event-item box p-2 mb-2 notification is-info">
            <div class="columns">
                <div class="column is-1 is-size-7">
                    <i class="fa fa-info-circle" style="cursor:pointer" title="Lisätiedot"></i>
                    <i class="fa fa-flag" style="cursor:pointer" title="Sijainti"></i>
                    <i class="fa fa-check" style="cursor:pointer" title="Kuittaa"></i>
                </div>
                <div class="column">
                    <h1 class="title is-5">Saunapalo</h1>
                    <h2 class="subtitle is-7">Rantasaunan tulipalo</h2>
                </div>
                <div class="column is-1 is-size-7 m-1" style="text-align: center;">
                    <i class="fa fa-clipboard-list" title="Merkintöjä"></i>
                    <p>11</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="events-input-box">
        <div class="input-item box p-2 mb-2 notification is-info is-light">
            <p>Halossa 3 leiriläistä ripulissa</p>
        </div>
        <div class="input-item box p-2 mb-2 notification is-info is-light">
            <p>Ruokarekka ajanut ojaan rahtijärventien alkupäässä. Tie poikki.</p>
        </div>
        <div class="input-item box p-2 mb-2 notification is-info is-light">
            <p>Maa-ampiaispesä Hehkussa</p>
        </div>
        <div class="input-item box p-2 mb-2 notification is-info is-light">
            <p>Iltaohjelmaesiintyjä myöhästyy</p>
        </div>
        <div class="input-item box p-2 mb-2 notification is-info is-light">
            <p>Sähkökatko alueella klo 22-23</p>
        </div>
    </div>
</div>
<script>
$(function() {
    $("#events-input-box").sortable({
        connectWith: ".event-item",
    }).disableSelection();
    $("#events-event-box").sortable({
        connectWith: "#map",
    }).disableSelection();

    $(".event-item").droppable({
        accept: ".input-item",
        drop: function(event, ui) {
            console.log(event);
            console.log(ui);/*
            var item = ui.draggable;
            var event_id = $(this).attr("id");
            var input_id = item.attr("id");
            $.ajax({
                url: "/tilkku/events/add_input",
                type: "POST",
                data: {
                    event_id: event_id,
                    input_id: input_id,
                },
                success: function(data) {
                    if (data.success) {
                        item.remove();
                    }
                }
            });*/
        }
    });
});
</script>
{% endblock %}