{% block content %}
{% load static %}
<style>
.event-item {
    cursor: pointer;
}
.input-item {
    cursor: pointer;
    font-weight: 400;
}
</style>

<div class="content">
    <button class="button is-small"><i class="fa fa-plus" title="Lisää" onclick="new_topic_modal_open();"></i></button>
</div>

<div class="content" style="height: calc(100% - 20px); overflow-y: clip;">
    <div id="events-topic-box" style="height: calc(100% - 32px); overflow: auto;">
    </div>
</div>

<div id="topic-template" class="topic-item box p-2 mb-2 notification is-info is-hidden">
    <div class="columns">
        <div class="column is-1 is-size-7">
            <i class="fa fa-info-circle" style="cursor:pointer" title="Lisätiedot"></i>
            <i class="fa fa-check" style="cursor:pointer" title="Kuittaa"></i>
        </div>
        <div class="column">
            <h1 class="topic-title title is-5" style="cursor:pointer"></h1>
            <h2 class="topic-description subtitle is-7"></h2>
        </div>
        <div class="column is-1 is-size-7 m-1" style="text-align: center;">
            <i class="fa fa-clipboard-list" style="cursor:pointer" title="Merkintöjä"></i>
            <p class="topic-notes-count"></p>
        </div>
    </div>
</div>

<div id="new-topic-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Aiheen lisäys</p>
            <button class="delete" aria-label="close" onclick="new_topic_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Otsikko</label>
                <div class="control">
                    <input class="input" type="text" id="new-topic-modal-name">
                </div>
            </div>
            <div class="field">
                <label class="label">Kuvaus</label>
                <div class="control">
                    <textarea class="textarea" id="new-topic-modal-description"></textarea>
                </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="new_topic_modal_save();">Tallenna</button>
            <button class="button" onclick="new_topic_modal_close();">Peruuta</button>
        </footer>
    </div>
</div>

<div id="topic-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="height: 90%;">
        <header class="modal-card-head">
            <p class="modal-card-title" id="topic-modal-name"></p>
            <button class="delete" aria-label="close" onclick="topic_modal_close();"></button>
        </header>
        <section class="modal-card-body p-2">
            <div class="field">
                <div class="control">
                    <p id="topic-modal-description"></p>
                </div>
            </div>
        </section>
        <section class="modal-card-body p-2" style="overflow: auto; height: 55%;">
            <div class="content" id="topic-modal-notes">
            </div>
        </section>
        <section class="modal-card-body p-2">
            <div class="field">
                <label class="label">Uusi merkintä</label>
                <div class="control">
                    <textarea class="textarea" rows="2" id="topic-modal-new-note"></textarea>
                </div>
            </div>
            <div class="field" style="position: relative;">
                <label class="label">Paikkatieto</label>
                <div class="control">
                    <input class="input" type="text" id="topic-modal-location">
                    <input type="hidden" id="topic-modal-location-id">
                </div>
                <div id="topic-modal-location-autocomplete" class="dropdown-content" style="position: fixed; z-index: 1;">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="topic_modal_save();">Lisää</button>
            <button class="button" onclick="topic_modal_close();">Sulje</button>
        </footer>
    </div>
</div>

<div class='note-item box p-2 mb-2 notification is-success is-hidden' id="note-item-template">
    <p class="m-0" style="font-size: 0.6rem;"><span class="note-user-name"></span> - <span class="note-datetime"></span><i class="fa fa-flag is-hidden" style="cursor:pointer; float: right;" title="Sijainti"></i></p>
    <p class="note-text m-0"></p>
</div>

<script>

function get_events() {
    $.ajax({
        url: "api/topics/?status=OP",
        type: "GET",
        success: function(data) {
            $("#events-topic-box").html("");
            data.forEach(function(topic) {
                var topic_item = $("#topic-template").clone();
                topic_item.removeClass("is-hidden");
                topic_item.attr("id", topic.id);
                topic_item.find(".topic-title").text(topic.name);
                topic_item.find(".topic-title").click(function() {
                    topic_modal_open(topic.id);
                });
                topic_item.find(".topic-description").text(topic.description);
                topic_item.find(".topic-notes-count").text(topic.notes.length);
                topic_item.find(".fa-info-circle").click(function() {
                    topic_modal_open(topic.id);
                });
                topic_item.find(".fa-check").click(function() {
                    topic_accept_open(topic.id);
                });
                topic_item.find(".fa-clipboard-list").click(function() {
                    topic_modal_open(topic.id);
                });
                $("#events-topic-box").append(topic_item);
            });
        }
    });
}
get_events();

var event_timer = setInterval(get_events, 30000);

function new_topic_modal_open() {
    $("#new-topic-modal").addClass("is-active");
}

function new_topic_modal_close() {
    $("#new-topic-modal").removeClass("is-active");
}

function new_topic_modal_save() {
    var name = $("#new-topic-modal-name").val();
    var description = $("#new-topic-modal-description").val();
    $.ajax({
        url: "api/topics/",
        type: "POST",
        data: {
            name: name,
            description: description
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            new_topic_modal_close();
            $("#new-topic-modal-name").val("");
            $("#new-topic-modal-description").val("");
            get_events();
            topic_modal_open(data.id);
        }
    });
}

var opened_topic_id = null;
function topic_modal_open(topic_id) {
    $("#topic-modal").addClass("is-active");
    $.ajax({
        url: "api/topics/" + topic_id + "/",
        type: "GET",
        success: function(data) {
            console.log(data);
            opened_topic_id = topic_id;
            $("#topic-modal-name").text(data.name);
            $("#topic-modal-description").text(data.description);
            $("#topic-modal-notes").html("");
            data.notes.forEach(function(note) {
                var note_item = $("#note-item-template").clone();
                note_item.removeClass("is-hidden");
                note_item.find(".note-user-name").text(note.user.first_name + " " + note.user.last_name);
                var note_date = new Date(note.created_at);
                note_item.find(".note-datetime").text(note_date.toLocaleString());
                note_item.find(".note-text").text(note.message);
                if(note.site) {
                    note_item.find(".fa-flag").removeClass("is-hidden");
                    note_item.find(".fa-flag").click(function() {
                        topic_open_site(note.site);
                    });
                } else {
                    note_item.find(".fa-flag").addClass("is-hidden");
                }
                $("#topic-modal-notes").append(note_item);
            });
            $("#topic-modal-new-note").val("");
            $("#topic-modal-new-note").focus();
        }
    });
}

function topic_modal_close() {
    $("#topic-modal").removeClass("is-active");
}

function topic_modal_save() {
    var message = $("#topic-modal-new-note").val();
    var site = $("#topic-modal-location-id").val();
    console.log(site);
    $.ajax({
        url: "api/notes/",
        type: "POST",
        data: {
            message: message,
            topic: opened_topic_id,
            site: site
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            topic_modal_close();
            topic_modal_open(opened_topic_id);
        }
    });
}

var topic_highlight_layer = L.featureGroup();

function topic_open_site(site) {
    if(site.area) {
        topic_modal_close();
        goto_site_area(site.area.id);
        show_site_area(site.area.id);
        setTimeout(function() {
            hide_site_area(site.area.id);
        }, 5000);
    } else if(site.marker) {
        //open_marker(site.marker.id);
    }
}

$("#topic-modal-location").keyup(function(e) {
    var query = $("#topic-modal-location").val();
    if(query.length >= 2) {
        $.ajax({
            url: "api/sites/?name=" + query,
            type: "GET",
            success: function(data) {
                $("#topic-modal-location-autocomplete").html("");
                data.forEach(function(site) {
                    var site_item = "<div class='dropdown-item' style='cursor:pointer;' onclick='note_select_site(" + site.id + ", \"" + site.name + "\");'>" + site.name + "</div>";
                    $("#topic-modal-location-autocomplete").append(site_item);
                });
            }
        });
    } else {
        $("#topic-modal-location-autocomplete").html("");
    }
});

function note_select_site(site_id, site_name) {
    $("#topic-modal-location").val(site_name);
    $("#topic-modal-location-autocomplete").html("");
    $("#topic-modal-location-id").val(site_id);
}

</script>
{% endblock %}