{% extends "base.html" %}
{% block content %}
{% csrf_token %}
<script>
const csrf_token = document.querySelector('[name="csrfmiddlewaretoken"]').value;

var location_query = {};
if(location.search) {
    location.search.split('?')[1].split('&').forEach(function(item) {
        var key = item.split('=')[0];
        var value = item.split('=')[1];
        location_query[key] = value;
    });
}

var default_settings = {
    menu: "visible",
    tool: "chat",
    clock: true,
    map: {
        center: {
            lat: 61.205,
            lng: 25.130
        },
        zoom: 15,
        server: 0,
        layers: [],
        scale: 1,
    }
}

function refresh_settings() {
    localStorage.setItem('settings', JSON.stringify(settings));
}

function compare_objects(obj1, obj2) {
    for(const [key, value] of Object.entries(obj1)) {
        if(Array.isArray(value)) {
            if(typeof obj2[key] == "undefined") {
                obj2[key] = value;
            }
        } else if(typeof value == "object") {
            obj2[key] = compare_objects(obj1[key], obj2[key]);
        } else {
            if(typeof obj2[key] == "undefined") {
                obj2[key] = value;
            }
        }
    }
    return obj2;
}

function compare_settings(settings) {
    settings = compare_objects(default_settings, settings);
    refresh_settings();
}

if(localStorage.getItem('settings') == null) {
    settings = default_settings;
    refresh_settings();
} else {
    settings = JSON.parse(localStorage.getItem('settings'));
    compare_settings(settings);
}

var map = null;

</script>
<style>
.leaflet-tooltip {
    border: none;
    background: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 1.4em;
    -webkit-text-stroke: 1px black;
}

.leaflet-grid .leaflet-tile {
    border: solid 1px black;
}
</style>

<div id="map" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0;"></div>
<div class="columns" style="height: 100%; margin: 0px;">
    <div class="column" style="width: auto; min-width: 66%;">
        <div style="width: 150px; float: left; margin-left: 42px;">
            {% include 'clock.html' %}
        </div>
        <div style="width: 32px; float: right;">
            {% include 'toolbox.html' %}
        </div>
    </div>
    <div id="front-tools" class="column is-third" style="z-index: 2;">
        <div class="box p-0" style="height: calc(100% - 10px);">
            {% include 'tools.html' %}
        </div>
    </div>
</div>

{% include 'modals.html' %}

<script>

var home = [61.205, 25.130];
var home_zoom = 15;
map = L.map('map').setView(settings.map.center, settings.map.zoom);

map_servers = {{ map_servers | safe }};

map_servers.forEach(function(server) {
    server.layer = L.tileLayer(server.url, {
        attribution: server.attribution,
    });
});

var map_background = map_servers[settings.map.server].layer.addTo(map);

function map_set_bg() {
    map_background.remove();
    map_background = map_servers[settings.map.server].layer.addTo(map);
}

var grid_size = [50, 50];
var grid_bounds = [[61.21315, 25.10600], [61.20022, 25.13901]];
var grid_cols = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"];
var grid_rows = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];

function map_set_grid() {
    var x = grid_bounds[0][0];
    var y = grid_bounds[0][1];
    var transfer = 100000;
    var row = 0;
    var col = 0;
    var grid = L.layerGroup();
    var bounds = [[y, x], [y + grid_size[1]/transfer, x + grid_size[0]/transfer]];
    var tile = L.rectangle(bounds, {

    });
    grid.addLayer(tile);
    grid.addTo(map);

}
map_set_grid();

map_scale = L.control.scale({
    imperial: false,
    metric: true,
    position: 'bottomleft'
});

function map_set_scale() {
    if(settings.map.scale == 1) {
        map_scale.addTo(map);
    } else {
        map_scale.remove();
    }
}

map_set_scale();

map.on("moveend", function() {
    settings.map.center = map.getCenter();
    settings.map.zoom = map.getZoom();
    refresh_settings();
});

var lastZoom;

function map_set_names() {
    var zoom = map.getZoom();
    map_layers.forEach(function(layer) {

        if(layer.active) {
            layer.layer.eachLayer(function(layer2) {
                var tooltip = layer2.getTooltip();
                if(tooltip) {
                    this.map.closeTooltip(tooltip);
                }
                if(tooltip && zoom >= layer.style.min_zoom && zoom <= layer.style.max_zoom && settings.map.names) {
                    this.map.addLayer(tooltip);
                }
            });

        }
    });
}

var map_layers = {{ layers | safe }};

map_layers.forEach(function(layer) {
    layer.areas.forEach(function(area) {
        for(var i = 0; i < area.coordinates.length; i++) {
            area.coordinates[i] = [area.coordinates[i][1], area.coordinates[i][0]];
        }
    });
    layer.markers.forEach(function(marker) {
        marker.coordinates = [marker.coordinates[1], marker.coordinates[0]];
    });
});

function map_load_layers() {
    for(var i = 0; i < map_layers.length; i++) {
        var layer = map_layers[i];
        if(layer.layer) {
            layer.layer.remove();
        }

        var style = {
            color: layer.style.stroke,
            fillColor: layer.style.fill,
            opacity: layer.style.opacity + 0.2,
            fillOpacity: layer.style.opacity,
            'stroke-width': layer.style.stroke_width,
        }

        var tooltip_style = {
            opacity: layer.style.opacity + 0.2,
            permanent: true,
            direction: "center",
        }

        var marker_style = {
            opacity: 0,
        }

        layer.active = false;

        if(settings.map.layers.includes(i)) {
            layer.layer = L.featureGroup();
            layer.active = true;

            layer.areas.forEach(function(area) {
                var polydata = style;
                polydata.id = area.id;
                area_layer = L.polygon(area.coordinates, polydata);
                area_layer.bindTooltip("<div style='color: " + layer.style.stroke + "; font-size: " + layer.style.font_size + "px'>" + area.name + "</div>", tooltip_style);
                area_layer.addTo(layer.layer);
                area_layer.on("click", function(e) {
                    console.log(e.target);
                    open_area(e.target.options.id);
                });

                area.active = true;
            });

            layer.markers.forEach(function(marker) {
                var marker_layer = L.marker(marker.coordinates, marker_style)
                marker_layer.bindTooltip("<div style='color: " + layer.style.stroke + "; font-size: " + layer.style.font_size + "px'>" + marker.name + "</div>", tooltip_style);
                marker_layer.addTo(layer.layer);
                marker_layer.on("click", function(e) {
                    open_marker(e.target.options.id);
                });

                marker.active = true;
            });

            layer.layer.addTo(map);
        } else {
            layer.active = false;
            layer.layer = L.featureGroup();

            layer.areas.forEach(function(area) {
                area.active = false;
            });

            layer.markers.forEach(function(marker) {
                marker.active = false;
            });
        }

        map_set_names();
    }
}

function map_get_layer(id) {
    console.log(id);
    var correct_layer = null;
    map.eachLayer(function(layer) {
        if(layer.options.id == id) {
            correct_layer = layer;
        }
    });
    return correct_layer;
}

function map_set_layers() {
    map_load_layers();
}
map_set_layers();

map.on('zoomend', function() {
    map_set_names();
});

var opened_area = null;

function open_area(id) {
    map_layers.forEach(function(layer) {
        layer.areas.forEach(function(area) {
            if(area.id == id) {
                opened_area = area;
            }
        });
    });
    open_site_modal(opened_area.id, null);
    console.log(opened_area);
}

var opened_marker = null;

function open_marker(id) {
    map_layers.forEach(function(layer) {
        layer.markers.forEach(function(marker) {
            if(marker.id == id) {
                opened_marker = marker;
            }
        });
    });
    open_site_modal(null, opened_marker.id);
    console.log(opened_marker);
}

</script>
{% include 'settings.html' %}
{% endblock %}