{% extends "base.html" %}
{% block content %}
<script>
var default_settings = {
    menu: "visible",
    tool: "chat",
    map: {
        center: {
            lat: 61.205,
            lng: 25.130
        },
        zoom: 15,
        server: 0,
        layers: [],
        scale: 1,
    }
}

function refresh_settings() {
    localStorage.setItem('settings', JSON.stringify(settings));
}

function compare_objects(obj1, obj2) {
    for(const [key, value] of Object.entries(obj1)) {
        if(Array.isArray(value)) {
            if(typeof obj2[key] == "undefined") {
                obj2[key] = value;
            }
        } else if(typeof value == "object") {
            obj2[key] = compare_objects(obj1[key], obj2[key]);
        } else {
            if(typeof obj2[key] == "undefined") {
                obj2[key] = value;
            }
        }
    }
    return obj2;
}

function compare_settings(settings) {
    settings = compare_objects(default_settings, settings);
    refresh_settings();
}

if(localStorage.getItem('settings') == null) {
    settings = default_settings;
    refresh_settings();
} else {
    settings = JSON.parse(localStorage.getItem('settings'));
    compare_settings(settings);
}

</script>
<style>
.leaflet-tooltip {
    border: none;
    background: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 1.4em;
    -webkit-text-stroke: 1px black;
}
</style>
<div id="map" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0;"></div>
<div class="columns" style="height: 100%; margin: 0px;">
    <div class="column" style="width: auto; min-width: 66%;">
        <div style="width: 32px; float: right;">
            {% include 'toolbox.html' %}
        </div>
    </div>
    <div id="front-tools" class="column is-third" style="z-index: 2;">
        <div class="box p-0" style="height: calc(100% - 10px);">
            {% include 'tools.html' %}
        </div>
    </div>
</div>
<script>
var home = [61.205, 25.130];
var home_zoom = 15;
var map = L.map('map').setView(settings.map.center, settings.map.zoom);

map_servers = {{ map_servers | safe }};

map_servers.forEach(function(server) {
    server.layer = L.tileLayer(server.url, {
        attribution: server.attribution,
    });
});

var map_background = map_servers[settings.map.server].layer.addTo(map);

function map_set_bg() {
    map_background.remove();
    map_background = map_servers[settings.map.server].layer.addTo(map);
}

map_scale = L.control.scale({
    imperial: false,
    metric: true,
    position: 'bottomleft'
});

function map_set_scale() {
    if(settings.map.scale == 1) {
        map_scale.addTo(map);
    } else {
        map_scale.remove();
    }
}

map_set_scale();

map.on("moveend", function() {
    settings.map.center = map.getCenter();
    settings.map.zoom = map.getZoom();
    refresh_settings();
});

var lastZoom;

function map_set_names() {
  var zoom = map.getZoom();
  if (zoom < 16 && (!lastZoom || lastZoom >= 16)) {
    map.eachLayer(function(l) {
      if (l.getTooltip) {
        var toolTip = l.getTooltip();
        if (toolTip) {
          this.map.closeTooltip(toolTip);
        }
      }
    });
  } else if (zoom >= 16 && (!lastZoom || lastZoom < 16)) {
    map.eachLayer(function(l) {
      if (l.getTooltip) {
        var toolTip = l.getTooltip();
        if (toolTip) {
          this.map.addLayer(toolTip);
        }
      }
    });
  }
  lastZoom = zoom;
}

var map_layers = {{ layers | safe }};


map_layers.forEach(function(layer) {
    layer.layer = L.featureGroup();

    var style = {
        color: layer.style.stroke,
        fillColor: layer.style.fill,
        opacity: layer.style.opacity + 0.2,
        fillOpacity: layer.style.opacity,
        title: "Testi"
    }

    var tooltip_style = {
        opacity: layer.style.opacity + 0.2,
        permanent: true,
        direction: "center"
    }

    layer.areas.forEach(function(area) {
        for(var i = 0; i < area.coordinates.length; i++) {
            area.coordinates[i] = [area.coordinates[i][1], area.coordinates[i][0]];
        }
        area_layer = L.polygon(area.coordinates, style);
        area_layer.bindTooltip("<div style='color: " + layer.style.stroke + ";'>" + area.name + "</div>", tooltip_style);
        area_layer.addTo(layer.layer);
    });

    layer.markers.forEach(function(marker) {
        L.marker(marker.coordinates, style).addTo(layer.layer);
    });

    map_set_names();
});

var map_active_layers = [];
function map_set_layers() {
    for(var i = 0; i < map_active_layers.length; i++) {
        map_active_layers[i].layer.remove();
    }

    for(var i = 0; i < map_layers.length; i++) {
        if(settings.map.layers.includes(i)) {
            map_active_layers.push(map_layers[i]);
            map_layers[i].layer.addTo(map);
        }
    }
}
map_set_layers();

map.on('zoomend', function() {
  map_set_names();
});

</script>
{% include 'settings.html' %}
{% endblock %}