{% block messages %}
{% load i18n %}
<div id="messages-alert-container" style="position: fixed; top: 0; width: 100%; text-align: center;">
</div>

<div class="modal" id="messages-confirm-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="messages-confirm-title"></p>
            <button class="delete" aria-label="close" onclick="messages_confirm_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <p id="messages-confirm-question"></p>
        </section>
        <section class="modal-card-foot">
            <button class="button is-success" onclick="messages_confirm_accept();">{% translate 'Yes' %}</button>
            <button class="button" onclick="messages_confirm_modal_close();">{% translate 'Cancel' %}</button>
        </section>
    </div>
</div>

<div class="notification is-hidden" id="messages-alert-template">
    <button class="delete" onclick="messages_alert_close();"></button>
    <p class="messages-alert-message"></p>
</div>

<script>

var messages_confirm_callback = null;

function messages_confirm(title, question, callback) {
    $('#messages-confirm-title').text(title);
    $('#messages-confirm-question').text(question);
    $('#messages-confirm-modal').addClass('is-active');
    messages_confirm_callback = callback;
}

function messages_confirm_modal_close() {
    $('#messages-confirm-modal').removeClass('is-active');
}

function messages_confirm_accept() {
    messages_confirm_callback();
    messages_confirm_modal_close();
}

function messages_alert(message) {
    var alert = $('#messages-alert-template').clone();
    alert.removeClass('is-hidden');
    alert.find('.messages-alert-message').text(message);
    $('#messages-alert-container').append(alert);
    setTimeout(function() {
        alert.remove();
    }, 5000);
}

</script>
{% endblock %}

