{% block content %}
{% load i18n %}
<style>
.newmsg {
    color: #ff0c0c;
}
</style>
<div style="width: 100%; float: right;">
    <div style="">
        <button class="button m-0 is-small" style="width: 30px;" title="{% translate 'Menu' %}" onclick="toolbox_menu();">
            <i class="fas fa-bars"></i>
        </button>
        <button class="button m-0 is-small" style="width: 30px;" title="{% translate 'Settings' %}" onclick="settings_open();">
            <i class="fas fa-cog"></i>
        </button>
        <div class="dropdown is-hoverable is-right" style="width: 30px;" title="{% translate 'User' %}">
          <div class="dropdown-trigger" style="width: 100%;">
            <button class="button m-0 is-small" style="width: 100%;" aria-haspopup="true" aria-controls="mobile-usermenu">
              <i class="fas fa-user"></i>
            </button>
          </div>
          <div class="dropdown-menu" id="mobile-usermenu" role="menu">
            <div class="dropdown-content">
                <a href="#" class="dropdown-item" onclick="user_edit_own_modal_open();">{% translate 'User information' %}</a>
                <hr class="dropdown-divider">
                <a href="{% url 'main:logout' %}" class="dropdown-item">{% translate 'Log out' %}</a>
            </div>
          </div>
        </div>
        <button class="button m-0 is-small" style="width: 30px;" title="{% translate 'Center' %}" onclick="mobile_toolbox_center();">
            <i class="fas fa-home"></i>
        </button>
    </div>
</div>

<script>

function mobile_toolbox_center() {
    map.setView(mobile_home, home_zoom);
}

</script>
{% endblock %}