{% block content %}
{% load static %}
<div class="modal" id="settings-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div id="">
            <div class="box p-0" style="width: 100%; height: 80vh;">
                <div class="tabs is-boxed is-small" style="margin-bottom: 0px;">
                    <ul>
                        <li id="" class="">
                            <a href="#" onclick="settings_select('map')">
                                <span class="icon"><i class="fas fa-map"></i></span>
                                <span>Kartta</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- Any other Bulma elements you want -->
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="settings_close();"></button>
</div>
<script>
function settings_open() {
    $("#settings-modal").addClass('is-active');
}
function settings_close() {
    $("#settings-modal").removeClass('is-active');
}
</script>
{% endblock %}