{% block content %}
{% load static %}
{% load i18n %}
<div class="modal" id="settings-modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="overflow: hidden;">
        <div class="box" style="text-align: center;">
            <h1>{% translate 'Settings' %}</h1>
            <button class="delete is-hidden-tablet" aria-label="close" onclick="settings_close();" style="position: absolute; top: 10px; right: 10px;" title="{% translate 'Close' %}"></button>
        </div>
        <div class="box p-0" style="width: 100%; height: 80vh;">
            <div class="tabs is-boxed is-small" style="margin-bottom: 0px;">
                <ul>
                    <li id="settings-menu-general" class="settings-menu is-active">
                        <a href="#" onclick="settings_select('general')">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span>{% translate 'General' %}</span>
                        </a>
                    </li>
                    <li id="settings-menu-map" class="settings-menu">
                        <a href="#" onclick="settings_select('map')">
                            <span class="icon"><i class="fas fa-map"></i></span>
                            <span>{% translate 'Map' %}</span>
                        </a>
                    </li>
                    <li id="settings-menu-events" class="settings-menu">
                        <a href="#" onclick="settings_select('map-layer')">
                            <span class="icon"><i class="fas fa-layer-group"></i></span>
                            <span>{% translate 'Map layers' %}</span>
                        </a>
                    </li>
                    <li id="settings-menu-sites" class="settings-menu is-hidden">
                        <a href="#" onclick="settings_select('sites')">
                            <span class="icon"><i class="fas fa-thumbtack"></i></span>
                            <span>{% translate 'Locations' %}</span>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="">
                        <a href="{% url 'admin:index' %}" target="_blank">
                            <span class="icon"><i class="fas fa-lock"></i></span>
                            <span>{% translate 'Admin' %}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="content p-0" style="height: calc(100% - 40px); overflow: hidden; overflow-y: auto;">
                <div id="settings-general" class="settings-box" style="height: 100%;">
                    {% include 'settings/general.html' %}
                </div>
                <div id="settings-map" class="settings-box" style="height: 100%; display: none;">
                    {% include 'settings/map.html' %}
                </div>
                <div id="settings-map-layer" class="settings-box" style="height: 100%; display: none;">
                    {% include 'settings/map-layers.html' %}
                </div>
                <div id="settings-sites" class="settings-box" style="height: 100%; display: none;">
                    {% include 'settings/sites.html' %}
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="settings_close();"></button>
</div>

<script>
function settings_open() {
    $("#settings-modal").addClass('is-active');
}

function settings_close() {
    $("#settings-modal").removeClass('is-active');
    map_init();
}

function settings_select(page) {
    $(".settings-menu").removeClass('is-active');
    $(".settings-box").hide();
    $("#settings-menu-" + page).addClass('is-active');
    $("#settings-" + page).show();
}
</script>
{% endblock %}