<div class="sidebar">
    <div class="logo-details">
        <i class='fa fa-compass icon'></i>
        <div class="logo_name"></div>
        <div id="btn"><i class='fa fa-bars'></i></div>
    </div>
    <ul class="nav-list">
        <li class="profile">
            <div class="profile-details">
                <div class="name_job">
                    <div class="name">{{ user.get_full_name }}</div>
                </div>
            </div>
            <a href="{% url 'main:logout' %}">
                <i class='fa fa-door-open' id="log_out"></i>
            </a>
        </li>
    </ul>
</div>
<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".fa-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }

</script>