{% block content %}
<div class="content" style="height: calc(100% - 20px); overflow-y: clip;">
    <div>
        <input id="sites-site-search" class="input is-small" type="text" placeholder="Hae...">
    </div>
    <div id="sites-site-box" style="overflow: auto; height: calc(100% - 32px);">
        <table id="sites-site-table" class="table is-striped">
        </table>
    </div>
</div>

<div class="modal" id="site-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="site-modal-title"></p>
            <button class="delete" aria-label="close" onclick="site_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Tyyppi</label>
                <p id="site-modal-type" class="control"></p>
            </div>
            <div class="field">
                <label class="label">Yhteyshenkilöt</label>
                <div id="site-modal-contacts" class="control">
                </div>
            </div>
            <div class="field">
                <label class="label">Liittyvät viestit</label>
                <div id="site-modal-notes" class="control"></div>
            </div>
        </section>
    </div>
</div>

<script>
function search_sites() {
    var search = $('#sites-site-search').val();
    $.ajax({
        url: 'api/sites/?name=' + search,
        type: 'GET',
        success: function(data) {
            var table = $('#sites-site-table');
            table.html('');
            for (var i = 0; i < data.length; i++) {
                var events = '';
                if(data[i].area != null) {
                    events = ' onmouseover="show_site_area(' + data[i].area.id + ')"' +
                             ' onmouseout="hide_site_area(' + data[i].area.id + ')"' +
                             ' onclick="goto_site_area(' + data[i].area.id + ')"';
                } else if(data[i].marker != null) {
                    events = ' onmouseover="show_site_marker(' + data[i].marker.id + ')"' +
                             ' onmouseout="hide_site_marker(' + data[i].marker.id + ')"' +
                             ' onclick="goto_site_marker(' + data[i].marker.id + ')"';
                }
                var row = $('<tr style="cursor: pointer;"' + events + '>');
                row.append($('<td>').text(data[i].name));
                table.append(row);
            }
        }
    });
}
search_sites();

$("#sites-site-search").on('keyup', function() {
    search_sites();
});

function show_site_area(id) {
    map_layers.forEach(function(layer) {
        for(var i = 0; i < layer.areas.length; i++) {
            if(layer.areas[i].id == id) {
                var area = layer.areas[i];
                if(area.active) {
                    highlight_active(area.id);
                } else {
                    highlight_passive(area);
                }
            }
        }
    });
}

var site_highlight_layer = L.featureGroup();

var site_highlight_style = {
    color: "#ff0000",
    fillColor: "#ff0000",
    opacity: 0.7,
    fillOpacity: 0.5
}

var site_tooltip_style = {
    opacity: 0.7,
    permanent: true,
    direction: "center"
}

function highlight_active(id) {
    map.eachLayer(function(layer) {
        if(layer.options.id == id) {
            layer.options.originalStyle = {
                color: layer.options.color,
                fillColor: layer.options.fillColor,
                opacity: layer.options.opacity,
                fillOpacity: layer.options.fillOpacity
            };
            layer.setStyle(site_highlight_style);
        }
    });
}

function highlight_passive(area) {
    area_layer = L.polygon(area.coordinates, site_highlight_style);
    area_layer.bindTooltip("<div style='color: #ff0000;'>" + area.name + "</div>", site_tooltip_style);
    area_layer.options.type = "passive_highlight";
    area_layer.addTo(map);
    area_layer.on("click", function(e) {
        console.log(e.target.options);
    });

    site_highlight_layer = area_layer;
}

function hide_site_area(id) {
    map_layers.forEach(function(layer) {
        for(var i = 0; i < layer.areas.length; i++) {
            if(layer.areas[i].id == id) {
                var area = layer.areas[i];
                if(area.active) {
                    remove_highlight_active(area.id);
                } else {
                    remove_highlight_passive();
                }
            }
        }
    });
}

function remove_highlight_active(id) {
    map.eachLayer(function(layer) {
        if(layer.options.id == id) {
            layer.setStyle(layer.options.originalStyle);
        }
    });
}

function remove_highlight_passive() {
    map.eachLayer(function(layer) {
        if(layer.options.type == "passive_highlight") {
            map.removeLayer(layer);
        }
    });
    map.removeLayer(site_highlight_layer);
}

function goto_site_area(id) {
    map_layers.forEach(function(layer) {
        for(var i = 0; i < layer.areas.length; i++) {
            if(layer.areas[i].id == id) {
                var area = layer.areas[i];
                if(area.active) {
                    goto_active_area(area.id);
                } else {
                    goto_passive_area(area);
                }
            }
        }
    });
}

function goto_active_area(id) {
    map.eachLayer(function(layer) {
        if(layer.options.id == id) {
            map.fitBounds(layer.getBounds());
        }
    });
}

function goto_passive_area(area) {
    highlight_passive(area);
    map.fitBounds(site_highlight_layer.getBounds());
    setTimeout(function() {
        remove_highlight_passive();
    }, 2000);
}

function open_site_modal(area_id, marker_id) {
    $.ajax({
        url: 'api/sites/?area=' + area_id + '&marker=' + marker_id,
        type: 'GET',
        success: function(data) {
            $('#site-modal-title').text(data[0].name);
            $('#site-name').val(data[0].name);
            $('#site-modal').addClass('is-active');
        }
    });
}

function site_modal_close() {
    $('#site-modal').removeClass('is-active');
}

</script>
{% endblock %}