{% block content %}
<style>
.newmsg {
    color: #ff0c0c;
}
</style>
<div style="width: 100%;">
    <div style="margin-bottom: 20px;">
        <button class="button m-0 is-small" style="width: 100%;" title="Valikko" onclick="toolbox_menu();">
            <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown is-hoverable is-right" style="width: 100%;" title="Asetukset">
          <div class="dropdown-trigger" style="width: 100%;">
            <button class="button m-0 is-small" style="width: 100%;" aria-haspopup="true" aria-controls="asetusmenu">
              <i class="fas fa-cog"></i>
            </button>
          </div>
          <div class="dropdown-menu" id="asetusmenu" role="menu">
            <div class="dropdown-content">
                <a href="#" class="dropdown-item">Taustakartta</a>
                <a href="#" class="dropdown-item">Kerrokset</a>
                <a href="#" class="dropdown-item">Merkinnät</a>
                {% if user.is_superuser %}
                <hr class="dropdown-divider">
                <a href="{% url 'admin:index' %}" class="dropdown-item">Hallinta</a>
                {% endif %}
            </div>
          </div>
        </div>
        <div class="dropdown is-hoverable is-right" style="width: 100%;" title="Käyttäjä">
          <div class="dropdown-trigger" style="width: 100%;">
            <button class="button m-0 is-small" style="width: 100%;" aria-haspopup="true" aria-controls="kayttajamenu">
              <i class="fas fa-user"></i>
            </button>
          </div>
          <div class="dropdown-menu" id="kayttajamenu" role="menu">
            <div class="dropdown-content">
                <a href="#" class="dropdown-item">Omat tiedot</a>
                <hr class="dropdown-divider">
                <a href="{% url 'main:logout' %}" class="dropdown-item">Kirjaudu ulos</a>
            </div>
          </div>
        </div>
        <button class="button m-0 is-small" style="width: 100%;" title="Keskitä" onclick="toolbox_center();">
            <i class="fas fa-home"></i>
        </button>
    </div>

    <div id="front-toolsmenu" style="display: none;">
        <button class="button m-0 is-small" style="width: 100%;" title="Tapahtumat" onclick="toolbox_events();">
            <i id="front-events-btn" class="fas fa-book"></i>
        </button>
        <button class="button m-0 is-small" style="width: 100%;" title="Keskustelu" onclick="toolbox_chat();">
            <i id="front-chat-btn" class="fas fa-comments"></i>
        </button>
        <button class="button m-0 is-small" style="width: 100%;" title="Paikat" onclick="toolbox_sites();">
            <i id="front-sites-btn" class="fas fa-thumbtack"></i>
        </button>
    </div>
</div>

<script>

function toolbox_menu() {
    $("#front-tools").toggle();
    if($("#front-tools").is(":visible")) {
        $("#front-toolsmenu").hide();
        settings.menu = "hidden";
    } else {
        $("#front-toolsmenu").show();
        settings.menu = "visible";
    }
    refresh_settings();
}

function toolbox_center() {
    map.setView(home, home_zoom);
}

function toolbox_chat() {
    $("#front-chat-btn").removeClass("newmsg");
    toolbox_menu();
    tools_select('chat');
    settings.tools = "chat";
    refresh_settings();
}

function toolbox_events() {
    $("#front-events-btn").removeClass("newmsg");
    toolbox_menu();
    tools_select('events');
    settings.tools = "events";
    refresh_settings();
}

function toolbox_sites() {
    $("#front-sites-btn").removeClass("newmsg");
    toolbox_menu();
    tools_select('sites');
    settings.tools = "sites";
    refresh_settings();
}

tools_select(settings.tools);
if(settings.menu == "hidden") toolbox_menu();

</script>
{% endblock %}