{% block content %}
{% load static %}
<!-- modal -->
<!-- bulma css -->
<!-- user self edit form -->
<div class="modal" id="user-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box p-4">
      <p class="modal-card-title">Muokkaa tietojasi</p>
    </div>
    <div class="modal-card-body">
      <form>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Name">
          </div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="text" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <label class="label">Confirm password</label>
          <div class="control">
            <input class="input" type="password" placeholder="Confirm password">
          </div>
        </div>
      </form>
    </div>
    <footer class="modal-card-foot">
      <button class="button is-success">Tallenna</button>
      <button class="button" onclick="document.getElementById('modal').classList.remove('is-active');">Cancel</button>
    </footer>
  </div>
  <button class="modal-close is-large" aria-label="close" onclick="user_close();"></button>
</div>
{% endblock %}