{% block content %}
{% load static %}
<style>

</style>
<div class="weather-window">
    <table class="table" id="weather-table">
    </table>
</div>

<script>

function update_weather() {
    var url = "https://api.met.no/weatherapi/locationforecast/2.0/compact.json";
    url += "?lat=" + map.getCenter().lat;
    url += "&lon=" + map.getCenter().lng;
    url += "&altitude=129";
    $.getJSON(url, function(data) {
        console.log(data);
        $("#weather-table").empty();
        data.properties.timeseries.forEach(function(info) {
            console.log(info);
        });
    });
}

$(document).ready(function() {
    update_weather();
    var weather_timeout = setInterval(update_weather, 60000);
});



</script>
{% endblock %}