{% block content %}
{% load static %}
<div class="columns">
    <div class="column is-half">
        <div class="content p-3">
            <div class="field">
                <label class="label">Kello</label>
                <div class="control">
                    <label class="checkbox"><input id="settings-clock" type="checkbox" onchange='map_toggle_clock();'> Näkyvissä</label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

function map_toggle_clock() {
    settings.clock = $("#settings-map-clock").is(":checked") ? 1 : 0;
    refresh_settings();
    set_clock();
}

</script>
{% endblock %}