{% block content %}
{% load static %}
{% load i18n %}
<div class="columns">
    <div class="column is-half">
        <div class="content p-3">
            <label class="label">{% translate 'Map servers' %}</label>
            <div class="field has-addons">
                <div class="control">
                    <button class="button is-primary is-small" onclick="map_server_add();">{% translate 'Add' %}</button>
                </div>
            </div>
            <label class="label">{% translate 'Map layers' %}</label>
            <div class="field has-addons">
                <div class="control">
                    <button class="button is-primary is-small" onclick="map_layer_add();">{% translate 'Add' %}</button>
                </div>
            </div>
            <div class="field">
                <label class="label">GeoJSON</label>
                <div class="control">
                    <button class="button is-primary is-small" onclick="map_export_geoJSON();">{% translate 'Export' %}</button>
                    <button class="button is-primary is-small" onclick="map_import_geoJSON();">{% translate 'Import' %}</button>
                    <input type="file" id="map-import-file" style="display: none;" onchange="map_import_upload();">
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half">
        <div class="content p-3">
            <label class="label">{% translate 'Layer styles' %}</label>
            <div class="field has-addons">
                <div class="control">
                    <button class="button is-primary is-small" onclick="map_style_add();">{% translate 'Add' %}</button>
                </div>
            </div>
            <div class="field">
                <div id="settings-map-styles" class="control">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

function settings_map_layers_init() {
    $("#settings-map-styles").html("");
    for(var i=0;i<map_styles.length;i++) {
        var selected = "";
        var style = map_styles[i];
        $("#settings-map-styles").append("<span style='cursor: pointer; text-decoration: underline; color: blue;' onclick='map_edit_style(" + style.id + ")'>" + style.name + "</span><br>");
    }
}

$(document).ready(function() {
    settings_map_layers_init();
});

function map_export_geoJSON() {
    var layers = [];
    for(var i=0;i<map_layers.length;i++) {
        if(settings.map.layers.includes(i)) {
            layers.push(map_layers[i].id);
        }
    }

    $.ajax({
        url: "/api/geojson/1/?layers=" + layers.join(","),
        type: "GET",
        success: function(data) {
            $("<a />", {
                "download": "map.geojson",
                "href": "data:application/json," + encodeURIComponent(JSON.stringify(data))
            }).appendTo("body").click(function() {
                $(this).remove();
            })[0].click();
        }
    });
}

function map_import_geoJSON() {
    $("#map-import-file").click();
}

function map_import_upload() {
    var file = $("#map-import-file")[0].files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
        var data = JSON.parse(e.target.result);
        console.log(data);
        $.ajax({
            url: "/api/geojson/1/",
            type: "PATCH",
            headers: {
                "X-CSRFToken": csrf_token
            },
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(data) {
                location.reload();
            }
        });
    };
    reader.readAsText(file);
}

</script>
{% endblock %}