{% block content %}
{% load static %}
{% load i18n %}
<div class="content p-3">
    <div class="field" style="position: relative;">
        <label class="label" onclick="layers_toggle('servers');"><span class="icon is-small"><i id="map-servers-label" class="map-label fas fa-angle-right"></i></span> {% translate 'Background maps' %}</label>
        <div class="control" style="position: absolute; top: 0; right: 5px;">
            <button class="button is-primary is-small" onclick="map_server_open();">{% translate 'Add' %}</button>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <table class="table map-layer-table" id="map-servers-list" style="display: none;">
            </table>
        </div>
    </div>
    <div class="field" style="position: relative;">
        <label class="label" onclick="layers_toggle('layers');"><span class="icon is-small"><i id="map-layers-label" class="map-label fas fa-angle-right"></i></span> {% translate 'Map layers' %}</label>
        <div class="control" style="position: absolute; top: 0; right: 5px;">
            <button class="button is-primary is-small" onclick="map_layer_open();">{% translate 'Add' %}</button>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <table class="table map-layer-table" id="map-layers-list" style="display: none;">
            </table>
        </div>
    </div>
    <div class="field" style="position: relative;">
        <label class="label" onclick="layers_toggle('styles');"><span class="icon is-small"><i id="map-styles-label" class="map-label fas fa-angle-right"></i></span> {% translate 'Layer styles' %}</label>
        <div class="control" style="position: absolute; top: 0; right: 5px;">
            <button class="button is-primary is-small" onclick="map_style_open();">{% translate 'Add' %}</button>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <table class="table map-layer-table" id="map-styles-list" style="display: none;">
            </table>
        </div>
    </div>
    <div class="field">
        <label class="label">GeoJSON</label>
        <div class="control">
            <button class="button is-primary is-small" onclick="map_export_geoJSON();">{% translate 'Export' %}</button>
            <button class="button is-primary is-small" onclick="map_import_geoJSON();">{% translate 'Import' %}</button>
            <input type="file" id="map-import-file" style="display: none;" onchange="map_import_upload();">
        </div>
    </div>
</div>

<script>

function settings_map_layers_init() {
    $("#map-styles-list").html("");
    for(var i=0;i<map_styles.length;i++) {
        var style = map_styles[i];
        $("#map-styles-list").append("<tr><td>" + style.name + "</td><td style='text-align: right;'><button class=\"button is-primary is-small\" onclick=\"map_style_open(" + style.id + ");\">{% translate 'Edit' %}</button><button class=\"button is-danger is-small\" onclick=\"map_style_delete(" + style.id + ");\">{% translate 'Delete' %}</button></td></tr>");
    }
    $("#map-servers-list").html("");
    for(var i=0;i<map_servers.length;i++) {
        var server = map_servers[i];
        $("#map-servers-list").append("<tr><td>" + server.name + "</td><td style='text-align: right;'><button class=\"button is-primary is-small\" onclick=\"map_server_open(" + server.id + ");\">{% translate 'Edit' %}</button><button class=\"button is-danger is-small\" onclick=\"map_server_delete(" + server.id + ");\">{% translate 'Delete' %}</button></td></tr>");
    }
    $("#map-layers-list").html("");
    for(var i=0;i<map_layers.length;i++) {
        var layer = map_layers[i];
        $("#map-layers-list").append("<tr><td>" + layer.name + "</td><td style='text-align: right;'><button class=\"button is-primary is-small\" onclick=\"map_layer_open(" + layer.id + ");\">{% translate 'Edit' %}</button><button class=\"button is-danger is-small\" onclick=\"map_layer_delete(" + layer.id + ");\">{% translate 'Delete' %}</button></td></tr>");
    }
}

$(document).ready(function() {
    settings_map_layers_init();
});

function map_export_geoJSON() {
    var layers = [];
    for(var i=0;i<map_layers.length;i++) {
        if(settings.map.layers.includes(i)) {
            layers.push(map_layers[i].id);
        }
    }

    $.ajax({
        url: "/api/geojson/1/?layers=" + layers.join(","),
        type: "GET",
        success: function(data) {
            $("<a />", {
                "download": "map.geojson",
                "href": "data:application/json," + encodeURIComponent(JSON.stringify(data))
            }).appendTo("body").click(function() {
                $(this).remove();
            })[0].click();
        }
    });
}

function map_import_geoJSON() {
    $("#map-import-file").click();
}

function map_import_upload() {
    var file = $("#map-import-file")[0].files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
        var data = JSON.parse(e.target.result);
        console.log(data);
        $.ajax({
            url: "/api/geojson/1/",
            type: "PATCH",
            headers: {
                "X-CSRFToken": csrf_token
            },
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(data) {
                location.reload();
            }
        });
    };
    reader.readAsText(file);
}

var active_layer = null;
function layers_toggle(layer) {
    $(".map-layer-table").hide();
    $(".map-label").removeClass("fa-angle-down").addClass("fa-angle-right");
    if(active_layer == layer) {
        active_layer = null;
    } else {
        active_layer = layer;
        $("#map-" + layer + "-list").show();
        $("#map-" + layer + "-label").removeClass("fa-angle-right").addClass("fa-angle-down");
    }
}

</script>
{% endblock %}