{% block content %}
{% load static %}

<div class="columns">
    <div class="column is-half">
        <div class="content p-3">
            <div class="field">
                <label class="label">Taustakartta</label>
                <div class="control">
                    <div class="select" style="width: 100%;">
                        <select id="settings-map-bg" style="width: 100%;" onchange="map_select_bg();"></select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Ruudukko</label>
                <div class="control">
                    <label class="checkbox"><input id="settings-map-grid" type="checkbox" onchange='map_toggle_grid();'> Näkyvissä</label>
                </div>
            </div>
            <div class="field">
                <label class="label">Mittakaava</label>
                <div class="control">
                    <label class="checkbox"><input id="settings-map-scale" type="checkbox" onchange='map_toggle_scale();'> Näkyvissä</label>
                </div>
            </div>
            <div class="field">
                <label class="label">Nimet</label>
                <div class="control">
                    <label class="checkbox"><input id="settings-map-names" type="checkbox" onchange='map_toggle_names();'> Näkyvissä</label>
                </div>
            </div>
            <div class="field">
                <label class="label">Paikannus</label>
                <div class="control">
                    <label class="checkbox"><input id="settings-map-location" type="checkbox" onchange='map_toggle_location();'> Käytössä</label>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half">
        <div class="content p-3">
            <div class="field">
                <label class="label">GeoJSON</label>
                <div class="control">
                    <button class="button is-primary is-small" onclick="map_export_geoJSON();">Vie</button>
                    <button class="button is-primary is-small" onclick="map_import_geoJSON();">Tuo</button>
                </div>
            </div>
            <div class="field">
                <label class="label">Karttatasot</label>
                <div id="settings-map-layers" class="control">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {
    for(var i=0;i<map_servers.length;i++) {
        var selected = "";
        var server = map_servers[i];

        if(settings.map.server == i) selected = " selected";
        $("#settings-map-bg").append("<option value='" + i + "'" + selected + ">" + server.name + "</option>");

        if(settings.map.grid == 1) {
            $("#settings-map-grid").prop("checked", true);
        }
        if(settings.map.scale == 1) {
            $("#settings-map-scale").prop("checked", true);
        }
        if(settings.map.names == 1) {
            $("#settings-map-names").prop("checked", true);
        }
        if(settings.map.location == 1) {
            $("#settings-map-location").prop("checked", true);
        }
    }

    for(var i=0;i<map_layers.length;i++) {
        var selected = "";
        var layer = map_layers[i];

        if(settings.map.layers.includes(i)) selected = " checked";
        $("#settings-map-layers").append("<label class='checkbox'><input type='checkbox' value='" + i + "'" + selected + " onchange='map_select_layer();'> " + layer.name + "</label><br>");
    }
});

function map_select_bg() {
    settings.map.server = $("#settings-map-bg").val();
    refresh_settings();
}

function map_select_layer() {
    settings.map.layers = [];
    var layers = $("#settings-map-layers input").each(function() {
        if($(this).is(":checked")) {
            settings.map.layers.push(parseInt($(this).val()));
        }
    });
    refresh_settings();
}

function map_toggle_grid() {
    settings.map.grid = $("#settings-map-grid").is(":checked") ? 1 : 0;
    refresh_settings();
}

function map_toggle_scale() {
    settings.map.scale = $("#settings-map-scale").is(":checked") ? 1 : 0;
    refresh_settings();
}

function map_toggle_names() {
    settings.map.names = $("#settings-map-names").is(":checked") ? 1 : 0;
    refresh_settings();
}

function map_toggle_location() {
    settings.map.location = $("#settings-map-location").is(":checked") ? 1 : 0;
    map_user_location();
    refresh_settings();
}

function map_export_geoJSON() {
    var layers = [];
    for(var i=0;i<map_layers.length;i++) {
        if(settings.map.layers.includes(i)) {
            layers.push(map_layers[i].id);
        }
    }

    $.ajax({
        url: "/api/geojson/1/?layers=" + layers.join(","),
        type: "GET",
        success: function(data) {
            $("<a />", {
                "download": "map.geojson",
                "href": "data:application/json," + encodeURIComponent(JSON.stringify(data))
            }).appendTo("body").click(function() {
                $(this).remove();
            })[0].click();
        }
    });
}

</script>
{% endblock %}