{% block content %}
{% load static %}

<div class="columns">
    <div class="column is-half">
        <div class="content p-3">
            <div class="field">
                <label class="label">Taustakartta</label>
                <div class="control">
                    <div class="select" style="width: 100%;">
                        <select id="settings-map-bg" style="width: 100%;" onchange="map_select_bg();"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half">
        <div class="content p-3">
            <div class="field">
                <label class="label">Karttatasot</label>
                <div id="settings-map-layers" class="control">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {
    for(var i=0;i<map_servers.length;i++) {
        var selected = "";
        var server = map_servers[i];

        if(settings.map.server == i) selected = " selected";
        $("#settings-map-bg").append("<option value='" + i + "'" + selected + ">" + server.name + "</option>");
    }

    for(var i=0;i<map_layers.length;i++) {
        var selected = "";
        var layer = map_layers[i];

        if(settings.map.layers.includes(i)) selected = " checked";
        $("#settings-map-layers").append("<label class='checkbox'><input type='checkbox' value='" + i + "'" + selected + " onchange='map_select_layer();'> " + layer.name + "</label>");
    }
});

function map_select_bg() {
    settings.map.server = $("#settings-map-bg").val();
    refresh_settings();
    map_set_bg();
}

function map_select_layer() {
    var layers = $("#settings-map-layers input:checked");

    console.log(layers);
}

</script>
{% endblock %}