{% block content %}
{% load static %}

<div class="columns">
    <div class="column is-half">
        <div class="content p-3">
            <div class="field">
                <label class="label">Taustakartta</label>
                <div class="control">
                    <div class="select" style="width: 100%;">
                        <select id="settings-map-bg" style="width: 100%;" onchange="map_select_bg();"></select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Mittakaava</label>
                <div class="control">
                    <label class="checkbox"><input id="settings-map-scale" type="checkbox" onchange='map_toggle_scale();'> Näkyvissä</label>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-half">
        <div class="content p-3">
            <div class="field">
                <label class="label">Karttatasot</label>
                <div id="settings-map-layers" class="control">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {
    for(var i=0;i<map_servers.length;i++) {
        var selected = "";
        var server = map_servers[i];

        if(settings.map.server == i) selected = " selected";
        $("#settings-map-bg").append("<option value='" + i + "'" + selected + ">" + server.name + "</option>");

        if(settings.map.scale == 1) {
            $("#settings-map-scale").prop("checked", true);
        }
    }

    for(var i=0;i<map_layers.length;i++) {
        var selected = "";
        var layer = map_layers[i];

        if(settings.map.layers.includes(i)) selected = " checked";
        $("#settings-map-layers").append("<label class='checkbox'><input type='checkbox' value='" + i + "'" + selected + " onchange='map_select_layer();'> " + layer.name + "</label><br>");
    }
});

function map_select_bg() {
    settings.map.server = $("#settings-map-bg").val();
    refresh_settings();
    map_set_bg();
}

function map_select_layer() {
    settings.map.layers = [];
    var layers = $("#settings-map-layers input").each(function() {
        if($(this).is(":checked")) {
            settings.map.layers.push(parseInt($(this).val()));
        }
    });
    refresh_settings();
    map_set_layers();
}

function map_toggle_scale() {
    settings.map.scale = $("#settings-map-scale").is(":checked") ? 1 : 0;
    refresh_settings();
    map_set_scale();
}

</script>
{% endblock %}