{% block content %}
{% load static %}
{% load i18n %}
<div class="">
    <div class="content p-3">
        <div class="field">
            <label class="label">{% translate 'Users' %}</label>
            <div class="control">
                <button class="button is-primary is-small" onclick="user_add();">{% translate 'Add' %}</button>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <table class="table" id="users-list">
                </table>
            </div>
        </div>
    </div>
</div>

<script>

var users = [];

function users_init() {
    $("#users-list").html("");
    $.ajax({
        url: "/api/adm_users/",
        type: "GET",
        success: function(data) {
            users = data;
            for(var i=0;i<data.length;i++) {
                var user = data[i];
                $("#users-list").append("<tr><td>" + user.username + "</td><td>" + user.email + "</td><td><button class=\"button is-primary is-small\" onclick=\"user_edit(" + user.id + ");\">{% translate 'Edit' %}</button><button class=\"button is-danger is-small\" onclick=\"user_delete(" + user.id + ");\">{% translate 'Delete' %}</button></td></tr>");
            }
        }
    });
}

$(document).ready(function() {
    users_init();
});

</script>
{% endblock %}